* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mobile-menu-container {
  display: flex;
  flex-direction: column;
  background-color: #dc3545;

  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-20px);
  transition: max-height 0.4s ease, opacity 0.4s ease, transform 0.4s ease;
}

.mobile-menu-container.show {
  max-height: 1000px; 
  opacity: 1;
  transform: translateY(0);
}

.mobile-menu-container ul li {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.mobile-menu-container.show ul li {
  opacity: 1;
  transform: translateY(0);
}


.intro-section {
  background-image: url("../assets/ronaldo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
   background-position: center top;
  min-height: 100svh;
  position: relative; 

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      #71000490,     
      #FCF0D690 60%,
      #6B9EBD90 100%   
    );
    pointer-events: none; 
  }
}
