@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.intro-section {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
}
.intro-section .intro-swiper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.intro-section .intro-swiper .slide-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.intro-section .gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(113, 0, 4, 0.5647058824), rgba(252, 240, 214, 0.5843137255) 50%, rgba(107, 158, 189, 0.5647058824) 100%);
  z-index: 5;
}
.intro-section header {
  position: relative;
  z-index: 20;
}
.intro-section .intro-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  z-index: 10;
}
.intro-section .intro-container .content-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.intro-section .intro-container .content-container .dates-container .dates-box {
  background-color: #FCF0D6;
  width: 4rem;
  height: 4rem;
}
.intro-section .intro-container .content-container .desc-container {
  color: #000000;
}
.intro-section .intro-container .content-container .desc-container h1, .intro-section .intro-container .content-container .desc-container p {
  font-family: "Inter", sans-serif;
}
.intro-section .intro-container .content-container .desc-container h1 {
  font-weight: 900;
}
.intro-section .intro-container .content-container .quotes-container .quotes-box {
  background-color: #FCF0D6;
  width: 4rem;
  aspect-ratio: 1/1;
}
.intro-section .slider-control {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  z-index: 15;
}
.intro-section .slider-control .left-side .left-button {
  position: absolute;
  left: -15px;
  width: 80px;
  height: 50px;
  transform: skew(20deg);
  background: #710004;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.intro-section .slider-control .left-side .left-button i {
  color: #FCF0D6;
  font-size: 1.5rem;
  transform: skew(-20deg);
}
.intro-section .slider-control .right-side {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  right: -50px;
}
.intro-section .slider-control .right-side .indicator {
  width: 20px;
  height: 50px;
  transform: skew(-20deg);
  background-color: #710004;
}
.intro-section .slider-control .right-side .indicator.active {
  background-color: #FCF0D6;
  border: 5px solid #710004;
}
.intro-section .slider-control .right-side .right-button {
  width: 80px;
  height: 50px;
  transform: skew(-20deg);
  background: #710004;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.intro-section .slider-control .right-side .right-button i {
  color: #FCF0D6;
  font-size: 1.5rem;
  transform: skew(20deg);
}
.intro-section .scroll-down {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 15;
}
.intro-section .scroll-down .arrow {
  font-size: 1.5rem;
  animation: bounce 1.5s infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

@media only screen and (max-width: 992px) and (orientation: landscape) {
  .intro-section .intro-container .content-container .dates-container .dates-box {
    width: 3rem;
    height: 3rem;
    font-size: 0.7rem;
  }
  .intro-section .intro-container .content-container .dates-container .dates-box .day {
    font-size: 1.2rem !important;
  }
  .intro-section .intro-container .content-container .quotes-container .quotes-box {
    width: 3rem;
  }
  .intro-section .intro-container .content-container .quotes-container .quotes-box p {
    font-size: 1.3rem;
  }
  .intro-section .intro-container .content-container .desc-container {
    width: 60% !important;
  }
  .intro-section .intro-container .content-container .desc-container h1 {
    font-size: 1.8rem;
  }
  .intro-section .intro-container .content-container .desc-container p {
    font-size: 1rem;
  }
  .intro-section .intro-container .slider-control .right-side {
    right: -50px;
  }
  .intro-section .slider-control .right-side {
    right: -50px;
  }
}
@media (max-width: 576px) {
  .intro-section .intro-container .content-container .dates-container .dates-box {
    width: 3rem;
    height: 3rem;
    font-size: 0.7rem;
  }
  .intro-section .intro-container .content-container .quotes-container .quotes-box {
    width: 3rem;
  }
  .intro-section .intro-container .content-container .desc-container {
    width: 60% !important;
  }
  .intro-section .intro-container .content-container .desc-container h1 {
    font-size: 2rem;
  }
  .intro-section .intro-container .content-container .desc-container p {
    font-size: 1.2rem;
  }
  .intro-section .slider-control .left-side .left-button {
    left: -10px;
    width: 60px;
    height: 40px;
  }
  .intro-section .slider-control .left-side .left-button i {
    font-size: 1.2rem;
  }
  .intro-section .slider-control .right-side {
    gap: 0.5rem;
    right: -40px;
  }
  .intro-section .slider-control .right-side .indicator {
    width: 15px;
    height: 40px;
  }
  .intro-section .slider-control .right-side .right-button {
    width: 60px;
    height: 40px;
  }
  .intro-section .slider-control .right-side .right-button i {
    font-size: 1.2rem;
  }
  .intro-section .scroll-down {
    bottom: 70px;
    left: 48%;
  }
  .intro-section .scroll-down .arrow {
    font-size: 0.5rem;
  }
}
.features-section {
  background-color: #FCF0D6;
}
.features-section .features-container .top-container .heading {
  width: 40%;
  color: #710004;
}
.features-section .features-container .top-container .heading h1 {
  font-weight: 600;
}
.features-section .features-container .top-container .desc {
  width: 50%;
  color: #000000;
}
.features-section .features-container .top-container .desc p {
  font-weight: 500;
}
.features-section .features-container .bottom-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5rem;
  justify-content: center;
}
.features-section .features-container .bottom-container .feature-box {
  border-left: 3px solid #710004;
}
.features-section .features-container .bottom-container .feature-box .box-content h1 {
  color: #710004;
}
.features-section .features-container .bottom-container .feature-box .box-link p a {
  color: #000000;
  font-weight: 500;
}

@media (max-width: 1200px) {
  .features-section .features-container .top-container {
    flex-direction: column;
  }
  .features-section .features-container .top-container .heading {
    width: 100%;
  }
  .features-section .features-container .top-container .desc {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .features-section .features-container .bottom-container {
    gap: 4rem;
  }
}/*# sourceMappingURL=home.css.map */