@use "../abstract/variables" as *;
@use "../components/header" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.intro-section {
  background-image: url("../../assets/ronaldo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
   background-position: center top;
  min-height: 100svh;
  position: relative; 

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      #71000490,     
      #FCF0D690 60%,
      #6B9EBD90 100%   
    );
    pointer-events: none; 
  }
}
