@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  padding-right: 0 !important;
}

.line {
  width: 50px;
  height: 1.5px;
  background-color: white;
  opacity: 1;
}

.menu-links ul li a:hover {
  color: #FCF0D6 !important;
}

.mobile-sidenav {
  height: 100svh;
  width: 0;
  position: fixed;
  z-index: 1050 !important;
  top: 0;
  right: 0;
  /* Menu slides in from right */
  background-color: white;
  overflow-x: hidden;
  transition: width 0.4s ease;
  padding-top: 20px;
}

.mobile-sidenav.open {
  width: 250px;
}

.mobile-sidenav ul {
  display: grid;
  grid-template-columns: auto auto;
}

.mobile-sidenav ul li {
  font-size: 12px;
  display: block;
  transition: 0.3s;
  background-color: #710004;
  width: 100px;
  aspect-ratio: 1/1;
}
.mobile-sidenav ul li img {
  width: 30px;
  height: 30px;
}
.mobile-sidenav ul li a {
  font-weight: 500;
  font-size: 14px;
}

.mobile-sidenav ul li a {
  color: #710004;
}

.mobile-sidenav .closebtn {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.mobile-sidenav .closebtn i {
  font-size: 28px;
  color: #710004 !important;
  font-weight: 700 !important;
}

.mobile-sidenav .closebtn i::before {
  font-weight: 700 !important;
}

.auth-dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 160px;
  overflow: hidden;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
  z-index: 1000;
  /* Animation friendly properties */
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  /* prevent clicks when hidden */
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.dropdown-content .username {
  width: 200px !important;
}

.dropdown-content.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  /* enable clicks when visible */
}

.dropdown-content a {
  background-color: white;
  color: black;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
}

.dropdown-content a:hover, .logout:hover {
  background-color: black !important;
  color: white !important;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

@media only screen and (max-width: 992px) {
  .Logo a {
    font-size: 1.2rem;
  }
}
@media screen and (max-height: 450px) {
  .mobile-sidenav {
    padding-top: 15px;
  }
  .mobile-sidenav ul li {
    font-size: 18px;
  }
}
.intro-section {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
}
.intro-section .intro-swiper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.intro-section .intro-swiper .slide-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.intro-section .gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(113, 0, 4, 0.5647058824), rgba(252, 240, 214, 0.5843137255) 50%, rgba(107, 158, 189, 0.5647058824) 100%);
  z-index: 5;
}
.intro-section header {
  position: relative;
  z-index: 20;
}
.intro-section .intro-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  z-index: 10;
}
.intro-section .intro-container .content-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "dates slogan quotes" "dates desc quotes";
  align-items: center;
  justify-content: space-between;
}
.intro-section .intro-container .content-container .dates-container {
  grid-area: dates;
}
.intro-section .intro-container .content-container .dates-container .dates-box {
  background-color: #FCF0D6;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}
.intro-section .intro-container .content-container .slogan-container {
  grid-area: slogan;
  color: #000000;
  justify-self: center;
  align-self: end;
}
.intro-section .intro-container .content-container .slogan-container h1 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
}
.intro-section .intro-container .content-container .desc-container {
  grid-area: desc;
  justify-self: center;
  align-self: start;
}
.intro-section .intro-container .content-container .desc-container p {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}
.intro-section .intro-container .content-container .quotes-container {
  grid-area: quotes;
  justify-self: end;
}
.intro-section .intro-container .content-container .quotes-container .quotes-box {
  background-color: #FCF0D6;
  width: 4rem;
  aspect-ratio: 1/1;
  cursor: pointer;
}
.intro-section .intro-container .content-container .quotes-container .quotes-box img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 4rem;
  height: 4rem;
  aspect-ratio: 1/1;
}
.intro-section .slider-control {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  z-index: 15;
}
.intro-section .slider-control .left-side .left-button {
  position: absolute;
  left: -15px;
  width: 80px;
  height: 50px;
  transform: skew(20deg);
  background: #710004;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.intro-section .slider-control .left-side .left-button i {
  color: #FCF0D6;
  font-size: 1.5rem;
  transform: skew(-20deg);
  width: 100%;
}
.intro-section .slider-control .left-side .left-button i:hover {
  animation: horizontal-bounce-left 1.5s infinite;
}
.intro-section .slider-control .right-side {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  right: -50px;
}
.intro-section .slider-control .right-side .indicator {
  width: 20px;
  height: 50px;
  transform: skew(-20deg);
  background-color: #710004;
}
.intro-section .slider-control .right-side .indicator.active {
  background-color: #FCF0D6;
  border: 5px solid #710004;
}
.intro-section .slider-control .right-side .right-button {
  width: 80px;
  height: 50px;
  transform: skew(-20deg);
  background: #710004;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.intro-section .slider-control .right-side .right-button i {
  color: #FCF0D6;
  font-size: 1.5rem;
  transform: skew(20deg);
  width: 100%;
}
.intro-section .slider-control .right-side .right-button i:hover {
  animation: horizontal-bounce-right 1.5s infinite;
}
.intro-section .scroll-down {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 15;
}
.intro-section .scroll-down .arrow {
  font-size: 1.5rem;
  animation: bounce 1.5s infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
@keyframes horizontal-bounce-left {
  0%, 20%, 50%, 80%, 100% {
    transform: skew(-20deg) translateX(0);
  }
  40% {
    transform: skew(-20deg) translateX(-8px);
  }
  60% {
    transform: skew(-20deg) translateX(-5px);
  }
}
@keyframes horizontal-bounce-right {
  0%, 20%, 50%, 80%, 100% {
    transform: skew(20deg) translateX(0);
  }
  40% {
    transform: skew(20deg) translateX(8px);
  }
  60% {
    transform: skew(20deg) translateX(5px);
  }
}
.intro-section .modal-dialog {
  display: flex;
}
.intro-section .modal-dialog .modal-body {
  max-height: 500px;
}
.intro-section .modal-dialog .modal-content {
  border-radius: 8px;
  background-color: #FCF0D6;
  border: 2px solid #710004;
  position: relative;
}
.intro-section .modal-dialog .modal-content h1 {
  color: #710004;
  font-weight: 700;
  text-align: center;
}
.intro-section .modal-dialog .modal-content button {
  position: absolute;
  right: 15px;
  top: 18px;
  box-shadow: none;
}
.intro-section .fixture-box {
  border: 2px solid #710004;
  border-radius: 8px;
  position: relative;
  width: 300px;
  justify-self: center;
}
.intro-section .fixture-box .top-container {
  background-color: #710004;
  color: #FCF0D6;
}
.intro-section .fixture-box .top-container h2 {
  font-weight: 700;
}
.intro-section .fixture-box .bottom-container {
  padding: 0.5rem 1rem;
}
.intro-section .fixture-box .bottom-container p {
  font-weight: 500;
  font-size: 1.2rem;
  color: #710004;
}
.intro-section .fixture-box .bottom-container .sport-badge {
  display: inline;
  color: #710004;
  font-size: 0.7rem;
  padding: 3px 10px !important;
  font-weight: 600;
  border: 2px solid #710004 !important;
}
.intro-section .quote-box {
  border-radius: 8px;
  position: relative;
  max-width: 700px;
  justify-self: center;
  color: #FCF0D6;
}
.intro-section .quote-box .image-container {
  height: 7rem;
  width: 7rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 3px solid #710004;
  margin-left: auto;
  margin-right: auto !important;
}
.intro-section .quote-box .image-container img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.intro-section .quote-box .image-container i {
  color: #6c757d;
  margin-left: auto;
  margin-right: auto !important;
}
.intro-section .quote-box .quote-container {
  align-self: flex-start;
  color: #710004;
}
.intro-section .quote-box .text-container {
  color: #710004;
  width: 100%;
}
.intro-section .quote-box .text-container .quote {
  font-weight: 500;
}
.intro-section .quote-box h2 {
  color: #710004;
}

@media only screen and (max-width: 992px) and (orientation: landscape) {
  .intro-section .intro-container .content-container .dates-container .dates-box {
    width: 3rem;
    height: 3rem;
    font-size: 0.7rem;
  }
  .intro-section .intro-container .content-container .dates-container .dates-box .day {
    font-size: 1.2rem !important;
  }
  .intro-section .intro-container .content-container .quotes-container .quotes-box {
    width: 3rem;
  }
  .intro-section .intro-container .content-container .quotes-container .quotes-box img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 3rem;
    height: 3rem;
    aspect-ratio: 1/1;
  }
  .intro-section .intro-container .content-container .quotes-container .quotes-box p {
    font-size: 1.3rem;
  }
  .intro-section .intro-container .content-container .desc-container h1,
  .intro-section .intro-container .content-container .slogan-container h1 {
    font-size: 2rem;
  }
  .intro-section .intro-container .content-container .desc-container p,
  .intro-section .intro-container .content-container .slogan-container p {
    font-size: 1.2rem;
  }
  .intro-section .intro-container .slider-control .right-side {
    right: -50px;
  }
  .intro-section .slider-control .right-side {
    right: -50px;
  }
  .intro-section .scroll-down {
    bottom: 30px;
    left: 48%;
  }
  .intro-section .scroll-down .arrow {
    font-size: 0.5rem;
  }
}
@media only screen and (max-width: 768px) and (orientation: landscape) {
  .intro-section .intro-container .content-container .slogan-container h1,
  .intro-section .intro-container .content-container .desc-container h1 {
    font-size: 1.5rem;
  }
  .intro-section .intro-container .content-container .slogan-container p,
  .intro-section .intro-container .content-container .desc-container p {
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  .intro-section .intro-container .content-container {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: ". . ." ". . ." "dates slogan quotes" "desc desc desc" ". . .";
    grid-template-rows: 0.5fr 0.7fr 1.1fr 1fr 1fr;
    row-gap: 1rem;
  }
  .intro-section .intro-container .content-container .dates-container .dates-box {
    width: 3rem;
    height: 3rem;
    font-size: 0.7rem;
  }
  .intro-section .intro-container .content-container .quotes-container .quotes-box {
    width: 3rem;
  }
  .intro-section .intro-container .content-container .quotes-container .quotes-box img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 3rem;
    height: 3rem;
    aspect-ratio: 1/1;
  }
  .intro-section .intro-container .content-container .slogan-container {
    align-self: center;
  }
  .intro-section .intro-container .content-container .slogan-container h1 {
    font-size: 2.5rem !important;
  }
  .intro-section .intro-container .content-container .desc-container h1,
  .intro-section .intro-container .content-container .slogan-container h1 {
    font-size: 2rem;
  }
  .intro-section .intro-container .content-container .desc-container p,
  .intro-section .intro-container .content-container .slogan-container p {
    font-size: 1.2rem;
    margin: 0px !important;
  }
  .intro-section .slider-control .left-side .left-button {
    left: -10px;
    width: 60px;
    height: 40px;
  }
  .intro-section .slider-control .left-side .left-button i {
    font-size: 1.2rem;
  }
  .intro-section .slider-control .right-side {
    gap: 0.5rem;
    right: -40px;
  }
  .intro-section .slider-control .right-side .indicator {
    width: 15px;
    height: 40px;
  }
  .intro-section .slider-control .right-side .right-button {
    width: 60px;
    height: 40px;
  }
  .intro-section .slider-control .right-side .right-button i {
    font-size: 1.2rem;
  }
  .intro-section .scroll-down {
    bottom: 30px;
    left: 48%;
  }
  .intro-section .scroll-down .arrow {
    font-size: 0.5rem;
  }
}
.features-section {
  background-color: #FCF0D6;
}
.features-section .features-container .top-container .heading {
  width: 40%;
  color: #710004;
}
.features-section .features-container .top-container .heading h1 {
  font-weight: 600;
}
.features-section .features-container .top-container .desc {
  width: 50%;
  color: #000000;
}
.features-section .features-container .top-container .desc p {
  font-weight: 500;
}
.features-section .features-container .bottom-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 3rem;
}
.features-section .features-container .bottom-container .feature-box {
  flex: 1 1 350px;
  max-width: 450px;
  border-left: 3px solid #710004;
  padding-left: 1rem;
}
.features-section .features-container .bottom-container .feature-box .box-content h1 {
  color: #710004;
}
.features-section .features-container .bottom-container .feature-box .box-link p a {
  color: #710004;
  font-weight: 500;
}
.features-section .features-container .bottom-container .feature-box .box-link p a:hover {
  color: #000000;
}

@media (max-width: 1400px) {
  .features-section .features-container .bottom-container .feature-box {
    flex: 1 1 300px;
    max-width: 350px;
  }
}
@media (max-width: 1200px) {
  .features-section .features-container .top-container {
    flex-direction: column;
  }
  .features-section .features-container .top-container .heading {
    width: 100%;
  }
  .features-section .features-container .top-container .desc {
    width: 100%;
  }
  .features-section .features-container .bottom-container .feature-box {
    flex: 1 1 400px;
    max-width: 450px;
  }
}
@media (max-width: 1023px) {
  .features-section .features-container .bottom-container {
    justify-content: center;
  }
  .features-section .features-container .bottom-container .feature-box {
    flex: 1 1 300px;
    max-width: 350px;
  }
}
@media (max-width: 768px) {
  .features-section .features-container .bottom-container {
    justify-content: flex-start;
    gap: 4rem;
  }
  .features-section .features-container .bottom-container .feature-box {
    flex: 1 1 520px;
    max-width: unset;
  }
}
.moments-slider {
  height: 550px;
  /* Expanded content */
  /* IMAGE SETTINGS */
}
.moments-slider .moment-card {
  height: 500px;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
}
.moments-slider .card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #FCF0D6;
}
.moments-slider .card-inner.closed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.moments-slider .card-inner.closed {
  height: 100%;
}
.moments-slider .card-inner.closed .card-image {
  width: 100%;
}
.moments-slider .card-inner.closed .card-image .no-image-inner {
  height: 100%;
  display: flex;
  align-items: center;
}
.moments-slider .card-inner.closed .card-image .no-image-inner img {
  height: 15%;
}
.moments-slider .card-inner.closed .card-vertical-text {
  width: 30%;
  background: #710004;
  color: #FCF0D6;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-weight: 600;
  padding: 10px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 12px 0px 0px 12px;
  box-shadow: inset 0 0 0 4px #FCF0D6;
}
.moments-slider .card-inner.closed .sport-badge {
  display: none;
}
.moments-slider .card-inner.open {
  flex-direction: column;
}
.moments-slider .card-inner.open .card-image {
  width: 100%;
  height: 45%;
  position: relative;
}
.moments-slider .card-inner.open .card-image .no-image-inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.moments-slider .card-inner.open .card-image .no-image-inner img {
  height: 50% !important;
  width: 40% !important;
}
.moments-slider .sport-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #710004;
  color: #fff;
  padding: 5px 8px;
  border-radius: 6px;
  font-size: 12px;
  z-index: 1;
}
.moments-slider .menu-wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 5;
  background-color: #710004;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.moments-slider .menu-wrapper .menu-icon {
  font-size: 1.2rem;
  color: white;
}
.moments-slider .menu-wrapper .menu-dropdown {
  position: absolute;
  top: 35px;
  right: 0;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  width: 110px;
  z-index: 20;
}
.moments-slider .menu-wrapper .menu-dropdown button {
  width: 100%;
  padding: 8px 12px;
  border: none;
  background: white;
  color: #000000;
  font-size: 0.9rem;
  text-align: left;
}
.moments-slider .menu-wrapper .menu-dropdown button:hover {
  background: #f5f5f5;
}
.moments-slider .menu-wrapper.show .menu-dropdown {
  display: block !important;
}
.moments-slider .card-inner.open .card-content {
  height: 55%;
  padding: 14px;
  background: #FCF0D6;
  position: relative;
}
.moments-slider .card-inner.open .card-content h3 {
  color: #710004;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.moments-slider .card-inner.open .card-content .text-truncate-vertical {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.moments-slider .card-inner.open .card-content small {
  position: absolute;
  bottom: 0;
}
.moments-slider .card-image {
  position: relative;
}
.moments-slider .card-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
.moments-slider .card-image::after {
  content: "";
  position: absolute;
  left: 0;
  top: 80%;
  bottom: 0;
  width: 100%;
  height: 71%;
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, #FCF0D6 29%);
  pointer-events: none;
}
.moments-slider .swiper-pagination-bullet {
  background-color: #FCF0D6;
  opacity: 1;
  width: 12px;
  height: 12px;
  aspect-ratio: 1/1;
}
.moments-slider .swiper-pagination-bullet-active {
  background-color: #710004;
  border: 2px solid #FCF0D6;
}
.moments-slider .swiper-button-prev,
.moments-slider .swiper-button-next {
  background-color: #710004;
  color: #FCF0D6;
  width: 45px !important;
  height: 45px !important;
  border-radius: 50%;
  border: 3px solid #FCF0D6;
}
.moments-slider .swiper-button-prev:after,
.moments-slider .swiper-button-next:after {
  font-size: 25px !important;
  font-weight: 700 !important;
}

.explore {
  display: flex;
  justify-content: center;
}
.explore a, .explore button {
  all: unset;
  display: inline-block;
  cursor: pointer;
  border-radius: 8px;
}
.explore a {
  background-color: black;
  color: white;
}
.explore button {
  background-color: #FCF0D6;
  padding: 0.75rem 1.5rem;
  font-weight: 600;
  color: black;
  border: none;
}
.explore button:hover {
  background-color: black;
  color: white;
}
.explore a:focus, .explore a:active,
.explore button:focus, .explore button:active {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.fixtures-section {
  background-color: #FCF0D6;
}
.fixtures-section .fixtures-container .heading-container {
  color: #710004;
}
.fixtures-section .fixtures-container .heading-container h1 {
  font-weight: 600;
}
.fixtures-section .fixtures-container .heading-container p {
  color: #000000;
}
.fixtures-section .fixtures-container .fixture-slide {
  height: auto !important;
}
.fixtures-section .fixtures-container .fixture-slide .fixture-box {
  height: 100% !important;
  display: flex;
  flex-direction: column;
  border: 2px solid #710004;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  background: #FCF0D6;
}
.fixtures-section .fixtures-container .fixture-slide .fixture-box .top-container {
  flex-shrink: 0;
  background-color: #710004;
  color: #FCF0D6;
  position: relative;
}
.fixtures-section .fixtures-container .fixture-slide .fixture-box .top-container h2 {
  font-weight: 700;
}
.fixtures-section .fixtures-container .fixture-slide .fixture-box .top-container .menu-wrapper {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 10px;
}
.fixtures-section .fixtures-container .fixture-slide .fixture-box .top-container .menu-wrapper .menu-icon {
  font-size: 1.4rem;
  color: #FCF0D6;
}
.fixtures-section .fixtures-container .fixture-slide .fixture-box .top-container .menu-wrapper .menu-dropdown {
  position: absolute;
  top: 32px;
  right: 0;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  width: 110px;
  display: block;
  z-index: 20;
}
.fixtures-section .fixtures-container .fixture-slide .fixture-box .top-container .menu-wrapper .menu-dropdown button {
  width: 100%;
  padding: 8px 12px;
  border: none;
  background: white;
  color: #000000;
  font-size: 0.9rem;
  text-align: left;
  color: #000000;
}
.fixtures-section .fixtures-container .fixture-slide .fixture-box .top-container .menu-wrapper .menu-dropdown button:hover {
  background: #f5f5f5;
}
.fixtures-section .fixtures-container .fixture-slide .fixture-box .bottom-container {
  padding: 1.2rem;
  flex-grow: 1;
}
.fixtures-section .fixtures-container .fixture-slide .fixture-box .bottom-container .sport-badge {
  display: inline;
  color: #710004;
  font-size: 0.7rem;
  padding: 3px 10px !important;
  font-weight: 600;
  border: 2px solid #710004 !important;
}
.fixtures-section .fixtures-container .fixture-slide .fixture-box .bottom-container p {
  color: #710004;
}
.fixtures-section .fixtures-container .fixtures-slider {
  padding-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative;
}
@media (max-width: 768px) {
  .fixtures-section .fixtures-container .fixtures-slider {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
.fixtures-section .fixtures-container .fixtures-slider .swiper-pagination-bullet {
  background-color: #710004;
  opacity: 1;
  width: 12px;
  height: 12px;
  aspect-ratio: 1/1;
}
.fixtures-section .fixtures-container .fixtures-slider .swiper-pagination-bullet-active {
  background-color: #FCF0D6;
  border: 3px solid #710004;
}
.fixtures-section .fixtures-container .fixtures-slider .swiper-button-prev,
.fixtures-section .fixtures-container .fixtures-slider .swiper-button-next {
  background-color: #710004;
  color: #FCF0D6;
  width: 45px !important;
  height: 45px !important;
  border-radius: 50%;
  border: 3px solid #FCF0D6;
  top: 46% !important;
}
.fixtures-section .fixtures-container .fixtures-slider .swiper-button-prev:after,
.fixtures-section .fixtures-container .fixtures-slider .swiper-button-next:after {
  font-size: 25px !important;
  font-weight: 700 !important;
}
.fixtures-section .fixtures-container .explore {
  display: flex;
  justify-content: center;
}
.fixtures-section .fixtures-container .explore a,
.fixtures-section .fixtures-container .explore button {
  all: unset;
  display: inline-block;
  cursor: pointer;
  border-radius: 8px;
}
.fixtures-section .fixtures-container .explore a {
  background-color: black;
  color: white;
}
.fixtures-section .fixtures-container .explore button {
  background-color: #710004;
  padding: 0.75rem 1.5rem;
  font-weight: 600;
  color: #FCF0D6;
  border: none;
}
.fixtures-section .fixtures-container .explore button:hover {
  background-color: black;
  color: white;
}
.fixtures-section .fixtures-container .explore a:focus,
.fixtures-section .fixtures-container .explore a:active,
.fixtures-section .fixtures-container .explore button:focus,
.fixtures-section .fixtures-container .explore button:active {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.quotes-section {
  border-top: 5px solid #FCF0D6;
}
.quotes-section .heading-container h1 {
  font-weight: 600;
}
.quotes-section .heading-container p {
  color: #FFFFFF;
}
.quotes-section .quotes-slider .quote-box {
  border-radius: 8px;
  position: relative;
  padding-right: 2rem !important;
  max-width: 700px;
  justify-self: center;
  color: #FCF0D6;
  margin-bottom: 6rem;
}
.quotes-section .quotes-slider .quote-box .image-container {
  height: 9rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 3px solid #FCF0D6;
}
.quotes-section .quotes-slider .quote-box .image-container img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.quotes-section .quotes-slider .quote-box .quote-container {
  align-self: flex-start;
}
.quotes-section .quotes-slider .quote-box .text-container .quote {
  font-weight: 500;
}
.quotes-section .quotes-slider .quote-box .menu-wrapper {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 10px;
}
.quotes-section .quotes-slider .quote-box .menu-wrapper .menu-icon {
  font-size: 1.4rem;
  color: #FFFFFF;
}
.quotes-section .quotes-slider .quote-box .menu-wrapper .menu-dropdown {
  position: absolute;
  top: 30px;
  right: 0;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  width: 110px;
  z-index: 20;
}
.quotes-section .quotes-slider .quote-box .menu-wrapper .menu-dropdown button {
  width: 100%;
  padding: 8px 12px;
  border: none;
  background: white;
  color: #000000;
  font-size: 0.9rem;
  text-align: left;
}
.quotes-section .quotes-slider .quote-box .menu-wrapper .menu-dropdown button:hover {
  background: #f5f5f5;
}
.quotes-section .quotes-slider .quote-box .menu-wrapper.show .menu-dropdown {
  display: block !important;
}
.quotes-section .quotes-slider .swiper-pagination-bullet {
  background-color: #FCF0D6;
  opacity: 1;
  width: 12px;
  height: 12px;
  aspect-ratio: 1/1;
}
.quotes-section .quotes-slider .swiper-pagination-bullet-active {
  background-color: #710004;
  border: 3px solid #FCF0D6;
}
.quotes-section .quotes-slider .swiper-button-prev,
.quotes-section .quotes-slider .swiper-button-next {
  background-color: #FCF0D6;
  color: #710004;
  width: 45px !important;
  height: 45px !important;
  border-radius: 50%;
  border: 3px solid #710004;
  top: 46% !important;
}
.quotes-section .quotes-slider .swiper-button-prev:after,
.quotes-section .quotes-slider .swiper-button-next:after {
  font-size: 25px !important;
  font-weight: 700 !important;
}
.quotes-section .quotes-slider .swiper-pagination {
  display: flex;
  justify-content: center;
  width: 500px !important;
}
.quotes-section .quotes-slider .swiper-pagination .custom-bullet {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FCF0D6;
  font-weight: 600;
  font-size: 1.2rem;
  color: #710004;
}
.quotes-section .quotes-slider .swiper-pagination .custom-bullet.swiper-pagination-bullet-active {
  border: 2px solid #FCF0D6;
}
.quotes-section .quotes-slider .swiper-pagination .custom-bullet .bullet-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.quotes-section .quotes-slider .swiper-pagination .initials {
  text-transform: uppercase;
}
.quotes-section .explore {
  display: flex;
  justify-content: center;
}
.quotes-section .explore a,
.quotes-section .explore button {
  all: unset;
  display: inline-block;
  cursor: pointer;
  border-radius: 8px;
}
.quotes-section .explore a {
  background-color: black;
  color: white;
}
.quotes-section .explore button {
  background-color: #FCF0D6;
  padding: 0.75rem 1.5rem;
  font-weight: 600;
  color: black;
  border: none;
}
.quotes-section .explore button:hover {
  background-color: black;
  color: white;
}
.quotes-section .explore a:focus,
.quotes-section .explore a:active,
.quotes-section .explore button:focus,
.quotes-section .explore button:active {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

@media (max-width: 992px) {
  .quotes-section .quotes-slider .quote-box {
    max-width: 600px;
  }
  .quotes-section .quotes-slider .quote-box .image-container {
    height: 7rem;
  }
}
@media (max-width: 768px) {
  .quotes-section .quotes-slider .quote-box {
    max-width: none;
    margin-bottom: 4rem;
    display: grid !important;
    grid-template-areas: "photo photo" "icons quote";
    align-self: center;
  }
  .quotes-section .quotes-slider .quote-box .image-container {
    grid-area: photo;
    justify-self: center;
    margin-bottom: 1rem;
  }
  .quotes-section .quotes-slider .quote-box .quote-container {
    grid-area: icons;
  }
  .quotes-section .quotes-slider .quote-box .quote-container i {
    font-size: 3rem !important;
  }
  .quotes-section .quotes-slider .quote-box .text-container {
    grid-area: quote;
  }
  .quotes-section .quotes-slider .quote-box .text-container .quote {
    font-size: 1.5rem !important;
  }
  .quotes-section .quotes-slider .quote-box .text-container .author {
    font-size: 1rem !important;
  }
  .quotes-section .quotes-slider .swiper-pagination {
    display: flex;
    justify-content: center;
  }
  .quotes-section .quotes-slider .swiper-pagination .custom-bullet {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 576px) {
  .quotes-section .quotes-slider .quote-box .text-container {
    grid-area: quote;
  }
  .quotes-section .quotes-slider .quote-box .text-container .quote {
    font-size: 1.2rem !important;
  }
}
.techniques-section {
  background-color: #FCF0D6;
}
.techniques-section .techniques-container .heading-container {
  color: #710004;
}
.techniques-section .techniques-container .heading-container h1 {
  font-weight: 600;
}
.techniques-section .techniques-container .heading-container p {
  color: #000000;
}
.techniques-section .techniques-container .accordion-button {
  background-color: #710004;
  color: #FCF0D6;
  font-weight: 500;
}
.techniques-section .techniques-container .accordion-button .sport-badge {
  display: inline;
  color: #FCF0D6;
  font-size: 0.7rem;
  padding: 3px 10px !important;
  font-weight: 600;
  border: 2px solid #FCF0D6 !important;
}
.techniques-section .techniques-container .body-head {
  font-weight: 600;
  color: #710004;
}
.techniques-section .techniques-container .accordion-button:focus,
.techniques-section .techniques-container .accordion-button:active {
  box-shadow: none;
}
.techniques-section .techniques-container .accordion-button::after {
  display: none;
}
.techniques-section .techniques-container .custom-arrow {
  color: #FCF0D6;
  transition: transform 0.3s;
}
.techniques-section .techniques-container .accordion-button:not(.collapsed) .custom-arrow {
  transform: rotate(180deg);
}
.techniques-section .techniques-container .accordion-body {
  background-color: #FCF0D6;
  border: 5px solid #710004;
}
.techniques-section .techniques-container .accordion-body ol {
  list-style: none;
  counter-reset: item;
  padding-left: 0;
}
.techniques-section .techniques-container .accordion-body ol li {
  counter-increment: item;
  position: relative;
  padding-left: 2.5rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: 1.2rem;
}
.techniques-section .techniques-container .accordion-body ol li::before {
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: #710004;
  color: #FCF0D6;
}
.techniques-section .techniques-container .accordion-body {
  position: relative;
  padding-right: 2.2rem;
}
.techniques-section .techniques-container .menu-wrapper {
  position: absolute;
  top: 15px;
  right: 15px;
}
.techniques-section .techniques-container .menu-icon {
  cursor: pointer;
  font-size: 1.2rem;
}
.techniques-section .techniques-container .menu-dropdown {
  position: absolute;
  top: 30px;
  right: 0;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  width: 110px;
  z-index: 20;
}
.techniques-section .techniques-container .menu-dropdown button {
  width: 100%;
  padding: 8px 12px;
  border: none;
  background: white;
  color: #000000;
  font-size: 0.9rem;
  text-align: left;
}
.techniques-section .techniques-container .menu-dropdown button:hover {
  background: #f5f5f5;
}
.techniques-section .explore {
  display: flex;
  justify-content: center;
}
.techniques-section .explore a,
.techniques-section .explore button {
  all: unset;
  display: inline-block;
  cursor: pointer;
  border-radius: 8px;
}
.techniques-section .explore a {
  background-color: black;
  color: white;
}
.techniques-section .explore button {
  background-color: #710004;
  padding: 0.75rem 1.5rem;
  font-weight: 600;
  color: #FCF0D6;
  border: none;
}
.techniques-section .explore button:hover {
  background-color: black;
  color: white;
}
.techniques-section .explore a:focus,
.techniques-section .explore a:active,
.techniques-section .explore button:focus,
.techniques-section .explore button:active {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.sessions-section {
  border-top: 5px solid #FCF0D6;
}
.sessions-section .heading-container {
  color: #FCF0D6;
}
.sessions-section .heading-container h1 {
  font-weight: 600;
}
.sessions-section .heading-container p {
  color: #FFFFFF;
}
.sessions-section .grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: stretch;
  grid-template-areas: "content buttons";
  grid-template-rows: minmax(30px, auto);
}
.sessions-section .content {
  background: #FCF0D6;
  padding: 2rem;
  max-height: 100%;
  grid-area: content;
  position: relative;
}
.sessions-section .content h1 {
  font-weight: 500 !important;
  color: #710004;
}
.sessions-section .content .exercise-title {
  font-weight: 500;
}
.sessions-section .content ul {
  padding-left: 1.5rem;
  list-style-position: outside;
}
.sessions-section .content ul li {
  font-weight: 400;
}
.sessions-section .content ul li::marker {
  color: #710004 !important;
  font-size: 1.5rem;
}
.sessions-section .content .menu-wrapper {
  position: absolute;
  top: 30px;
  right: 15px;
}
.sessions-section .content .menu-icon {
  cursor: pointer;
  font-size: 1.5rem;
}
.sessions-section .content .menu-dropdown {
  position: absolute;
  top: 30px;
  right: 0;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  width: 110px;
  z-index: 20;
}
.sessions-section .content .menu-dropdown button {
  width: 100%;
  padding: 8px 12px;
  border: none;
  background: white;
  color: #000000;
  font-size: 0.9rem;
  text-align: left;
}
.sessions-section .content .menu-dropdown button:hover {
  background: #f5f5f5;
}
.sessions-section .buttons {
  min-height: 100%;
  position: relative;
  background-color: #710004;
  grid-area: buttons;
}
.sessions-section .buttons::before {
  content: "";
  position: absolute;
  top: 1rem;
  height: 343px;
  left: 0;
  width: 1.5px;
  background: #710004;
  z-index: 10;
}
.sessions-section .buttons .arrow-desktop-container {
  position: absolute;
  height: 370px;
  display: flex;
  width: 100%;
}
.sessions-section .buttons .arrow-btn {
  position: absolute;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 20;
}
.sessions-section .buttons .arrow-btn i {
  color: #FCF0D6;
}
.sessions-section .buttons .arrow-btn.up {
  top: 0px;
  left: 95.5%;
  transform: translateX(-50%);
}
.sessions-section .buttons .arrow-btn.down {
  bottom: 0px;
  left: 95.5%;
  transform: translateX(-50%);
}
.sessions-section .buttons .arrow-btn.left {
  left: 0px;
  top: 90%;
  transform: translateY(-50%);
}
.sessions-section .buttons .arrow-btn.right {
  right: 0px;
  top: 90%;
  transform: translateY(-50%);
}
.sessions-section .session-btn {
  width: 91%;
  max-width: 400px;
  padding: 1rem;
  border: none;
  background-color: #FCF0D6;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: default !important;
  transition: 0.3s;
}
.sessions-section .session-btn:hover {
  background: #000000;
  color: white;
  border: 4px solid #FCF0D6 !important;
  border-bottom: 6px solid #FCF0D6 !important;
  border-left: 6px solid #FCF0D6 !important;
}
.sessions-section .session-btn.active {
  background: #710004;
  color: #FCF0D6;
  border: 4px solid #FCF0D6 !important;
  border-bottom: 6px solid #FCF0D6 !important;
  border-left: 6px solid #FCF0D6 !important;
}
.sessions-section .session-divider {
  position: absolute;
  color: #710004;
  border: 2px solid #710004;
  margin: 0.25rem 0;
  opacity: 1;
  width: 83%;
  bottom: -5px;
}
.sessions-section .mySwiper {
  height: 370px;
  position: relative;
}
.sessions-section .mySwiper .swiper-slide {
  display: flex;
  align-items: stretch;
}
.sessions-section .mySwiper .swiper-pagination {
  position: absolute !important;
  right: 12px !important;
  top: 50%;
  transform: translateY(-50%);
  width: 15px !important;
  height: auto;
  background: none;
  z-index: 999 !important;
}
.sessions-section .mySwiper .swiper-pagination-bullet {
  background-color: #FCF0D6;
  opacity: 1;
  width: 12px;
  height: 12px;
  aspect-ratio: 1/1;
}
.sessions-section .mySwiper .swiper-pagination-bullet-active {
  background-color: #710004;
  border: 2px solid #FCF0D6;
}
.sessions-section .explore {
  display: flex;
  justify-content: center;
}
.sessions-section .explore a,
.sessions-section .explore button {
  all: unset;
  display: inline-block;
  cursor: pointer;
  border-radius: 8px;
}
.sessions-section .explore a {
  background-color: black;
  color: white;
}
.sessions-section .explore button {
  background-color: #FCF0D6;
  padding: 0.75rem 1.5rem;
  font-weight: 600;
  color: black;
  border: none;
}
.sessions-section .explore button:hover {
  background-color: black;
  color: white;
}
.sessions-section .explore a:focus,
.sessions-section .explore a:active,
.sessions-section .explore button:focus,
.sessions-section .explore button:active {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

@media screen and (max-width: 1023px) {
  .sessions-section .grid-container {
    grid-template-areas: "buttons" "content";
    grid-template-columns: none;
    gap: 3rem;
  }
  .sessions-section .buttons {
    width: 100%;
    overflow: hidden;
  }
  .sessions-section .buttons::before {
    display: none;
  }
  .sessions-section .buttons .mySwiper {
    width: 100% !important;
    height: auto !important;
  }
  .sessions-section .buttons .mySwiper .swiper-pagination {
    position: absolute !important;
    bottom: 0px !important;
    top: auto !important;
    left: 50%;
    transform: translateX(-50%);
    display: flex !important;
    justify-content: center;
    gap: 8px;
    width: 50% !important;
  }
  .sessions-section .buttons .mySwiper .swiper-slide {
    width: auto !important;
    flex-shrink: 0;
    height: 90px;
  }
  .sessions-section .buttons .session-btn {
    width: -moz-max-content !important;
    width: max-content !important;
    max-width: 250px;
    white-space: nowrap;
    padding: 0.8rem 1.2rem;
    font-size: 1rem;
    height: 55px;
  }
  .sessions-section .buttons .session-btn:hover {
    background: black;
    color: #FFFFFF;
    border: 0 !important;
    box-shadow: inset 0 0 0 4px #FCF0D6;
  }
  .sessions-section .buttons .session-btn.active {
    box-shadow: inset 0 0 0 4px #FCF0D6;
    border: none !important;
    background: #710004;
    color: white;
  }
  .sessions-section .buttons .session-divider {
    display: none;
  }
}
footer {
  background-color: #FCF0D6;
}
footer .footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "menus logo auth";
  color: #710004;
}
footer .footer-container .menu-links {
  grid-area: menus;
}
footer .footer-container .menu-links h1 {
  font-weight: 600;
}
footer .footer-container .menu-links p {
  font-weight: 400;
  color: #000000;
}
footer .footer-container .menu-links ul {
  font-weight: 500;
}
footer .footer-container .menu-links ul li a {
  color: #710004 !important;
}
footer .footer-container .menu-links ul li a:hover {
  color: black !important;
}
footer .footer-container .auth-links {
  grid-area: auth;
}
footer .footer-container .auth-links h1 {
  font-weight: 600;
}
footer .footer-container .auth-links p {
  font-weight: 400;
  color: #000000;
}
footer .footer-container .auth-links ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  gap: 1rem;
}
footer .footer-container .auth-links ul li {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
footer .footer-container .auth-links ul li a {
  border: 3px solid #710004;
  font-weight: 500;
  color: #710004;
}
footer .footer-container .auth-links ul li a:hover {
  background-color: black !important;
  color: white !important;
  border: 3px solid #000000;
}
footer .footer-container .auth-links ul li .sign {
  color: #FCF0D6;
  background-color: #710004;
}
footer .footer-container .auth-links .username {
  width: 320px;
}
footer .footer-container .auth-links .logout {
  border: 3px solid #710004;
  font-weight: 500;
  color: #710004;
}
footer .footer-container .auth-links .logout:hover {
  background-color: black !important;
  color: white !important;
  border: 3px solid #000000;
}
footer .footer-container .logo {
  grid-area: logo;
  justify-self: center;
  text-align: center;
  position: relative;
}
footer .footer-container .logo h2 {
  font-weight: 900;
}
footer .footer-container .logo p {
  font-weight: 600;
}
footer .footer-container .logo::before, footer .footer-container .logo::after {
  content: "";
  position: absolute;
  top: 5%;
  bottom: 5%;
  width: 2px;
  background-color: #710004;
}
footer .footer-container .logo::before {
  left: 2px;
}
footer .footer-container .logo::after {
  right: 2px;
}
footer .copyright {
  text-align: center;
  color: #000000;
}

@media screen and (max-width: 992px) {
  footer .footer-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "logo" "menus" "auth";
    gap: 1.5rem;
  }
  footer .footer-container .logo {
    justify-self: left;
    text-align: left;
  }
  footer .footer-container .logo::before, footer .footer-container .logo::after {
    display: none;
  }
  footer .footer-container .logo h2 br {
    display: none;
  }
  footer .footer-container .logo p {
    color: black;
  }
}/*# sourceMappingURL=home.css.map */