@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.line {
  width: 50px;
  height: 1.5px;
  background-color: white;
  opacity: 1;
}

.menu-links ul li a:hover {
  color: #FCF0D6 !important;
}

.mobile-sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1050;
  top: 0;
  right: 0;
  /* Menu slides in from right */
  background-color: white;
  overflow-x: hidden;
  transition: width 0.4s ease;
  padding-top: 20px;
}

.mobile-sidenav.open {
  width: 250px;
}

.mobile-sidenav ul {
  display: grid;
  grid-template-columns: auto auto;
}

.mobile-sidenav ul li {
  font-size: 12px;
  display: block;
  transition: 0.3s;
  background-color: #710004;
  width: 100px;
  aspect-ratio: 1/1;
}
.mobile-sidenav ul li img {
  width: 30px;
  height: 30px;
}
.mobile-sidenav ul li a {
  font-weight: 500;
  font-size: 14px;
}

.mobile-sidenav ul li a {
  color: #710004;
}

.mobile-sidenav .closebtn {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.mobile-sidenav .closebtn i {
  font-size: 28px;
  color: #710004 !important;
  font-weight: 700 !important;
}

.mobile-sidenav .closebtn i::before {
  font-weight: 700 !important;
}

.auth-dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 160px;
  overflow: hidden;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
  z-index: 1000;
  /* Animation friendly properties */
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  /* prevent clicks when hidden */
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-content.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  /* enable clicks when visible */
}

.dropdown-content a {
  background-color: white;
  color: black;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
}

.dropdown-content a:hover {
  background-color: black;
  color: white;
}

@media screen and (max-height: 450px) {
  .mobile-sidenav {
    padding-top: 15px;
  }
  .mobile-sidenav ul li {
    font-size: 18px;
  }
}
.intro-section {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
}
.intro-section .intro-swiper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.intro-section .intro-swiper .slide-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.intro-section .gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(113, 0, 4, 0.5647058824), rgba(252, 240, 214, 0.5843137255) 50%, rgba(107, 158, 189, 0.5647058824) 100%);
  z-index: 5;
}
.intro-section header {
  position: relative;
  z-index: 20;
}
.intro-section .intro-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  z-index: 10;
}
.intro-section .intro-container .content-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.intro-section .intro-container .content-container .dates-container .dates-box {
  background-color: #FCF0D6;
  width: 4rem;
  height: 4rem;
}
.intro-section .intro-container .content-container .desc-container {
  color: #000000;
}
.intro-section .intro-container .content-container .desc-container h1,
.intro-section .intro-container .content-container .desc-container p {
  font-family: "Inter", sans-serif;
}
.intro-section .intro-container .content-container .desc-container h1 {
  font-weight: 900;
}
.intro-section .intro-container .content-container .quotes-container .quotes-box {
  background-color: #FCF0D6;
  width: 4rem;
  aspect-ratio: 1/1;
}
.intro-section .slider-control {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  z-index: 15;
}
.intro-section .slider-control .left-side .left-button {
  position: absolute;
  left: -15px;
  width: 80px;
  height: 50px;
  transform: skew(20deg);
  background: #710004;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.intro-section .slider-control .left-side .left-button i {
  color: #FCF0D6;
  font-size: 1.5rem;
  transform: skew(-20deg);
}
.intro-section .slider-control .right-side {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  right: -50px;
}
.intro-section .slider-control .right-side .indicator {
  width: 20px;
  height: 50px;
  transform: skew(-20deg);
  background-color: #710004;
}
.intro-section .slider-control .right-side .indicator.active {
  background-color: #FCF0D6;
  border: 5px solid #710004;
}
.intro-section .slider-control .right-side .right-button {
  width: 80px;
  height: 50px;
  transform: skew(-20deg);
  background: #710004;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.intro-section .slider-control .right-side .right-button i {
  color: #FCF0D6;
  font-size: 1.5rem;
  transform: skew(20deg);
}
.intro-section .scroll-down {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 15;
}
.intro-section .scroll-down .arrow {
  font-size: 1.5rem;
  animation: bounce 1.5s infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

@media only screen and (max-width: 992px) and (orientation: landscape) {
  .intro-section .intro-container .content-container .dates-container .dates-box {
    width: 3rem;
    height: 3rem;
    font-size: 0.7rem;
  }
  .intro-section .intro-container .content-container .dates-container .dates-box .day {
    font-size: 1.2rem !important;
  }
  .intro-section .intro-container .content-container .quotes-container .quotes-box {
    width: 3rem;
  }
  .intro-section .intro-container .content-container .quotes-container .quotes-box p {
    font-size: 1.3rem;
  }
  .intro-section .intro-container .content-container .desc-container {
    width: 60% !important;
  }
  .intro-section .intro-container .content-container .desc-container h1 {
    font-size: 1.8rem;
  }
  .intro-section .intro-container .content-container .desc-container p {
    font-size: 1rem;
  }
  .intro-section .intro-container .slider-control .right-side {
    right: -50px;
  }
  .intro-section .slider-control .right-side {
    right: -50px;
  }
}
@media (max-width: 576px) {
  .intro-section .intro-container .content-container .dates-container .dates-box {
    width: 3rem;
    height: 3rem;
    font-size: 0.7rem;
  }
  .intro-section .intro-container .content-container .quotes-container .quotes-box {
    width: 3rem;
  }
  .intro-section .intro-container .content-container .desc-container {
    width: 60% !important;
  }
  .intro-section .intro-container .content-container .desc-container h1 {
    font-size: 2rem;
  }
  .intro-section .intro-container .content-container .desc-container p {
    font-size: 1.2rem;
  }
  .intro-section .slider-control .left-side .left-button {
    left: -10px;
    width: 60px;
    height: 40px;
  }
  .intro-section .slider-control .left-side .left-button i {
    font-size: 1.2rem;
  }
  .intro-section .slider-control .right-side {
    gap: 0.5rem;
    right: -40px;
  }
  .intro-section .slider-control .right-side .indicator {
    width: 15px;
    height: 40px;
  }
  .intro-section .slider-control .right-side .right-button {
    width: 60px;
    height: 40px;
  }
  .intro-section .slider-control .right-side .right-button i {
    font-size: 1.2rem;
  }
  .intro-section .scroll-down {
    bottom: 70px;
    left: 48%;
  }
  .intro-section .scroll-down .arrow {
    font-size: 0.5rem;
  }
}
.features-section {
  background-color: #FCF0D6;
}
.features-section .features-container .top-container .heading {
  width: 40%;
  color: #710004;
}
.features-section .features-container .top-container .heading h1 {
  font-weight: 600;
}
.features-section .features-container .top-container .desc {
  width: 50%;
  color: #000000;
}
.features-section .features-container .top-container .desc p {
  font-weight: 500;
}
.features-section .features-container .bottom-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 3rem;
}
.features-section .features-container .bottom-container .feature-box {
  flex: 1 1 350px;
  max-width: 400px;
  border-left: 3px solid #710004;
  padding-left: 1rem;
}
.features-section .features-container .bottom-container .feature-box .box-content h1 {
  color: #710004;
}
.features-section .features-container .bottom-container .feature-box .box-link p a {
  color: #000000;
  font-weight: 500;
}

@media (max-width: 1400px) {
  .features-section .features-container .bottom-container .feature-box {
    flex: 1 1 300px;
    max-width: 350px;
  }
}
@media (max-width: 1200px) {
  .features-section .features-container .top-container {
    flex-direction: column;
  }
  .features-section .features-container .top-container .heading {
    width: 100%;
  }
  .features-section .features-container .top-container .desc {
    width: 100%;
  }
  .features-section .features-container .bottom-container .feature-box {
    flex: 1 1 400px;
    max-width: 450px;
  }
}
@media (max-width: 1023px) {
  .features-section .features-container .bottom-container {
    justify-content: center;
  }
  .features-section .features-container .bottom-container .feature-box {
    flex: 1 1 300px;
    max-width: 350px;
  }
}
@media (max-width: 768px) {
  .features-section .features-container .bottom-container {
    justify-content: flex-start;
    gap: 4rem;
  }
  .features-section .features-container .bottom-container .feature-box {
    flex: 1 1 520px;
    max-width: unset;
  }
}
.moments-slider {
  height: 550px;
  /* Expanded content */
  /* IMAGE SETTINGS */
}
.moments-slider .moment-card {
  height: 500px;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
}
.moments-slider .card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #FCF0D6;
}
.moments-slider .card-inner.closed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.moments-slider .card-inner.closed {
  height: 100%;
}
.moments-slider .card-inner.closed .card-image {
  width: 100%;
}
.moments-slider .card-inner.closed .card-image .no-image-inner {
  height: 100%;
  display: flex;
  align-items: center;
}
.moments-slider .card-inner.closed .card-image .no-image-inner img {
  height: 15%;
}
.moments-slider .card-inner.closed .card-vertical-text {
  width: 30%;
  background: #710004;
  color: #FCF0D6;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-weight: 600;
  padding: 10px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 12px 0px 0px 12px;
  box-shadow: inset 0 0 0 4px #FCF0D6;
}
.moments-slider .card-inner.closed .sport-badge {
  display: none;
}
.moments-slider .card-inner.open {
  flex-direction: column;
}
.moments-slider .card-inner.open .card-image {
  width: 100%;
  height: 45%;
  position: relative;
}
.moments-slider .card-inner.open .card-image .no-image-inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.moments-slider .card-inner.open .card-image .no-image-inner img {
  height: 50% !important;
  width: 40% !important;
}
.moments-slider .sport-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #710004;
  color: #fff;
  padding: 5px 8px;
  border-radius: 6px;
  font-size: 12px;
  z-index: 1;
}
.moments-slider .menu-wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 5;
  background-color: #710004;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.moments-slider .menu-wrapper .menu-icon {
  font-size: 1.2rem;
  color: white;
}
.moments-slider .menu-wrapper .menu-dropdown {
  position: absolute;
  top: 35px;
  right: 0;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  width: 110px;
}
.moments-slider .menu-wrapper .menu-dropdown button {
  width: 100%;
  padding: 8px 12px;
  border: none;
  background: white;
  font-size: 0.9rem;
  text-align: left;
}
.moments-slider .menu-wrapper .menu-dropdown button:hover {
  background: #f5f5f5;
}
.moments-slider .menu-wrapper.show .menu-dropdown {
  display: block !important;
}
.moments-slider .card-inner.open .card-content {
  height: 55%;
  padding: 14px;
  background: #FCF0D6;
  position: relative;
}
.moments-slider .card-inner.open .card-content h3 {
  color: #710004;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.moments-slider .card-inner.open .card-content .text-truncate-vertical {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.moments-slider .card-inner.open .card-content small {
  position: absolute;
  bottom: 0;
}
.moments-slider .card-image {
  position: relative;
}
.moments-slider .card-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
.moments-slider .card-image::after {
  content: "";
  position: absolute;
  left: 0;
  top: 80%;
  bottom: 0;
  width: 100%;
  height: 71%;
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, #FCF0D6 29%);
  pointer-events: none;
}
.moments-slider .swiper-pagination-bullet {
  background-color: #FCF0D6;
  opacity: 1;
  width: 12px;
  height: 12px;
  aspect-ratio: 1/1;
}
.moments-slider .swiper-pagination-bullet-active {
  background-color: #710004;
  border: 2px solid #FCF0D6;
}
.moments-slider .swiper-button-prev,
.moments-slider .swiper-button-next {
  background-color: #710004;
  color: #FCF0D6;
  width: 45px !important;
  height: 45px !important;
  border-radius: 50%;
  border: 3px solid #FCF0D6;
}
.moments-slider .swiper-button-prev:after,
.moments-slider .swiper-button-next:after {
  font-size: 25px !important;
  font-weight: 700 !important;
}

.fixtures-section {
  background-color: #FCF0D6;
}
.fixtures-section .fixtures-container .heading-container {
  color: #710004;
}
.fixtures-section .fixtures-container .heading-container h1 {
  font-weight: 600;
}
.fixtures-section .fixtures-container .heading-container p {
  color: #000000;
}
.fixtures-section .fixtures-container .fixture-slide {
  height: auto !important;
}
.fixtures-section .fixtures-container .fixture-slide .fixture-box {
  height: 100% !important;
  display: flex;
  flex-direction: column;
  border: 2px solid #710004;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  background: #FCF0D6;
}
.fixtures-section .fixtures-container .fixture-slide .fixture-box .top-container {
  flex-shrink: 0;
  background-color: #710004;
  color: #FCF0D6;
  position: relative;
}
.fixtures-section .fixtures-container .fixture-slide .fixture-box .top-container h2 {
  font-weight: 700;
}
.fixtures-section .fixtures-container .fixture-slide .fixture-box .top-container .menu-wrapper {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 10px;
}
.fixtures-section .fixtures-container .fixture-slide .fixture-box .top-container .menu-wrapper .menu-icon {
  font-size: 1.4rem;
  color: #FCF0D6;
}
.fixtures-section .fixtures-container .fixture-slide .fixture-box .top-container .menu-wrapper .menu-dropdown {
  position: absolute;
  top: 32px;
  right: 0;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  width: 110px;
  display: block;
  z-index: 20;
}
.fixtures-section .fixtures-container .fixture-slide .fixture-box .top-container .menu-wrapper .menu-dropdown button {
  width: 100%;
  padding: 8px 12px;
  border: none;
  background: white;
  font-size: 0.9rem;
  text-align: left;
  color: #000000;
}
.fixtures-section .fixtures-container .fixture-slide .fixture-box .top-container .menu-wrapper .menu-dropdown button:hover {
  background: #f5f5f5;
}
.fixtures-section .fixtures-container .fixture-slide .fixture-box .bottom-container {
  padding: 1.2rem;
  flex-grow: 1;
}
.fixtures-section .fixtures-container .fixture-slide .fixture-box .bottom-container .sport-badge {
  display: inline;
  color: #710004;
  font-size: 0.7rem;
  padding: 3px 10px !important;
  font-weight: 600;
  border: 2px solid #710004 !important;
}
.fixtures-section .fixtures-container .fixture-slide .fixture-box .bottom-container p {
  color: #710004;
}
.fixtures-section .fixtures-container .fixtures-slider {
  padding-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative;
}
@media (max-width: 768px) {
  .fixtures-section .fixtures-container .fixtures-slider {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
.fixtures-section .fixtures-container .fixtures-slider .swiper-pagination-bullet {
  background-color: #710004;
  opacity: 1;
  width: 12px;
  height: 12px;
  aspect-ratio: 1/1;
}
.fixtures-section .fixtures-container .fixtures-slider .swiper-pagination-bullet-active {
  background-color: #FCF0D6;
  border: 3px solid #710004;
}
.fixtures-section .fixtures-container .fixtures-slider .swiper-button-prev,
.fixtures-section .fixtures-container .fixtures-slider .swiper-button-next {
  background-color: #710004;
  color: #FCF0D6;
  width: 45px !important;
  height: 45px !important;
  border-radius: 50%;
  border: 3px solid #FCF0D6;
  top: 46% !important;
}
.fixtures-section .fixtures-container .fixtures-slider .swiper-button-prev:after,
.fixtures-section .fixtures-container .fixtures-slider .swiper-button-next:after {
  font-size: 25px !important;
  font-weight: 700 !important;
}/*# sourceMappingURL=home.css.map */