@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  padding-right: 0 !important;
}

.line {
  width: 50px;
  height: 1.5px;
  background-color: white;
  opacity: 1;
}

.menu-links ul li a:hover {
  color: #FCF0D6 !important;
}

.mobile-sidenav {
  height: 100svh;
  width: 0;
  position: fixed;
  z-index: 1050 !important;
  top: 0;
  right: 0;
  /* Menu slides in from right */
  background-color: white;
  overflow-x: hidden;
  transition: width 0.4s ease;
  padding-top: 20px;
}

.mobile-sidenav.open {
  width: 250px;
}

.mobile-sidenav ul {
  display: grid;
  grid-template-columns: auto auto;
}

.mobile-sidenav ul li {
  font-size: 12px;
  display: block;
  transition: 0.3s;
  background-color: #710004;
  width: 100px;
  aspect-ratio: 1/1;
}
.mobile-sidenav ul li img {
  width: 30px;
  height: 30px;
}
.mobile-sidenav ul li a {
  font-weight: 500;
  font-size: 14px;
}

.mobile-sidenav ul li a {
  color: #710004;
}

.mobile-sidenav .closebtn {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.mobile-sidenav .closebtn i {
  font-size: 28px;
  color: #710004 !important;
  font-weight: 700 !important;
}

.mobile-sidenav .closebtn i::before {
  font-weight: 700 !important;
}

.auth-dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 160px;
  overflow: hidden;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
  z-index: 1000;
  /* Animation friendly properties */
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  /* prevent clicks when hidden */
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.dropdown-content .username {
  width: 200px !important;
}

.dropdown-content.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  /* enable clicks when visible */
}

.dropdown-content a {
  background-color: white;
  color: black;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
}

.dropdown-content a:hover, .logout:hover {
  background-color: black !important;
  color: white !important;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

@media only screen and (max-width: 992px) {
  .Logo a {
    font-size: 1.2rem;
  }
}
@media screen and (max-height: 450px) {
  .mobile-sidenav {
    padding-top: 15px;
  }
  .mobile-sidenav ul li {
    font-size: 18px;
  }
}
.login-section {
  width: 100%;
  overflow: hidden;
}
.login-section .login-container {
  z-index: 30;
  width: 100%;
  margin-top: 7rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  align-items: center;
  justify-items: center;
  color: #FCF0D6;
}
.login-section .login-container .login-heading {
  justify-self: flex-end;
  align-self: flex-start;
  max-width: 450px;
}
.login-section .login-container .login-heading h1 {
  font-weight: 600;
}
.login-section .login-container .login-heading p {
  color: #FFFFFF;
}
.login-section .login-container .login-form {
  max-width: 450px;
  justify-self: self-start;
  position: relative;
  background-color: #FCF0D6;
  color: #710004;
  border-radius: 8px;
}
.login-section .login-container .login-form form label {
  font-weight: 500;
}
.login-section .login-container .login-form form input {
  background-color: unset;
  color: black;
  border: 2px solid #710004;
}
.login-section .login-container .login-form form input::-moz-placeholder {
  font-size: 0.9rem;
  color: rgb(55, 55, 55);
}
.login-section .login-container .login-form form input::placeholder {
  font-size: 0.9rem;
  color: rgb(55, 55, 55);
}
.login-section .login-container .login-form form input.form-control:focus {
  background-color: #FCF0D6 !important;
  color: black !important;
}
.login-section .login-container .login-form form input:-webkit-autofill,
.login-section .login-container .login-form form input:-webkit-autofill:hover,
.login-section .login-container .login-form form input:-webkit-autofill:focus {
  background-color: #FCF0D6 !important;
  box-shadow: 0 0 0 1000px #FCF0D6 inset !important;
  -webkit-text-fill-color: black !important;
  color: black !important;
}
.login-section .login-container .login-form form input:-internal-autofill-selected {
  background-color: #FCF0D6 !important;
  color: black !important;
}
.login-section .login-container .login-form form .form-control:focus {
  background-color: #FCF0D6;
  box-shadow: 0 0 0 0.25rem rgba(113, 0, 4, 0.25);
  color: black;
}
.login-section .login-container .login-form form button {
  background-color: #710004;
  color: #FCF0D6;
  font-weight: 500;
  border: none;
}
.login-section .login-container .login-form form button:hover {
  background-color: #000000;
  color: #FFFFFF;
}
.login-section .login-container .login-form form .sign-up {
  color: #000000;
}
.login-section .login-container .login-form form .sign-up .link {
  color: #710004;
}
.login-section .login-container .login-form form .google-button {
  background-color: white;
  color: black;
  font-weight: 400;
  border: 1px solid black;
}
.login-section .login-container .login-form form #g_id_signin div {
  display: flex;
  justify-content: center;
}

.toast-container {
  top: 50px !important;
  right: 0px;
  border-radius: 8px;
  z-index: 100;
}

.custom-toast {
  background-color: #FFFFFF !important;
  color: #000000 !important;
  border: none;
}
.custom-toast .btn-close {
  box-shadow: none;
}

.toast-progress-wrapper {
  width: 100%;
  height: 4px;
  overflow: hidden;
  border-radius: 0px 0px 8px 8px;
}

.toast-progress {
  height: 100%;
  width: 100%;
  background-color: #710004;
  animation: shrink 3s linear forwards;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

@keyframes shrink {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
@media only screen and (max-width: 992px) {
  .login-section .login-container {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 4rem;
    gap: 2rem;
  }
  .login-section .login-container .login-heading {
    justify-self: unset;
    max-width: 450px;
  }
  .login-section .login-container .login-form {
    justify-self: unset;
  }
}
@media (max-width: 576px) {
  .login-section .login-container {
    margin-top: 2rem;
  }
}/*# sourceMappingURL=login-page.css.map */