@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.line {
  width: 50px;
  height: 1.5px;
  background-color: white;
  opacity: 1;
}

.menu-links ul li a:hover {
  color: #FCF0D6 !important;
}

.mobile-sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1050;
  top: 0;
  right: 0;
  /* Menu slides in from right */
  background-color: white;
  overflow-x: hidden;
  transition: width 0.4s ease;
  padding-top: 20px;
}

.mobile-sidenav.open {
  width: 250px;
}

.mobile-sidenav ul {
  display: grid;
  grid-template-columns: auto auto;
}

.mobile-sidenav ul li {
  font-size: 12px;
  display: block;
  transition: 0.3s;
  background-color: #710004;
  width: 100px;
  aspect-ratio: 1/1;
}
.mobile-sidenav ul li img {
  width: 30px;
  height: 30px;
}
.mobile-sidenav ul li a {
  font-weight: 500;
  font-size: 14px;
}

.mobile-sidenav ul li a {
  color: #710004;
}

.mobile-sidenav .closebtn {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.mobile-sidenav .closebtn i {
  font-size: 28px;
  color: #710004 !important;
  font-weight: 700 !important;
}

.mobile-sidenav .closebtn i::before {
  font-weight: 700 !important;
}

.auth-dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 160px;
  overflow: hidden;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
  z-index: 1000;
  /* Animation friendly properties */
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  /* prevent clicks when hidden */
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-content.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  /* enable clicks when visible */
}

.dropdown-content a {
  background-color: white;
  color: black;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
}

.dropdown-content a:hover {
  background-color: black;
  color: white;
}

@media only screen and (max-width: 992px) {
  .Logo a {
    font-size: 1.2rem;
  }
}
@media screen and (max-height: 450px) {
  .mobile-sidenav {
    padding-top: 15px;
  }
  .mobile-sidenav ul li {
    font-size: 18px;
  }
}
.login-section {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
}
.login-section .login-container {
  z-index: 30;
}
.login-section .login-swiper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.login-section .login-swiper .slide-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.login-section .gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(113, 0, 4, 0.5647058824), rgba(252, 240, 214, 0.5843137255) 50%, rgba(107, 158, 189, 0.5647058824) 100%);
  z-index: 5;
}
.login-section header {
  position: relative;
  z-index: 20;
}
.login-section .slider-control {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  z-index: 15;
}
.login-section .slider-control .left-side .left-button {
  position: absolute;
  left: -15px;
  width: 80px;
  height: 50px;
  transform: skew(20deg);
  background: #710004;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.login-section .slider-control .left-side .left-button i {
  color: #FCF0D6;
  font-size: 1.5rem;
  transform: skew(-20deg);
}
.login-section .slider-control .right-side {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  right: -50px;
}
.login-section .slider-control .right-side .indicator {
  width: 20px;
  height: 50px;
  transform: skew(-20deg);
  background-color: #710004;
}
.login-section .slider-control .right-side .indicator.active {
  background-color: #FCF0D6;
  border: 5px solid #710004;
}
.login-section .slider-control .right-side .right-button {
  width: 80px;
  height: 50px;
  transform: skew(-20deg);
  background: #710004;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.login-section .slider-control .right-side .right-button i {
  color: #FCF0D6;
  font-size: 1.5rem;
  transform: skew(20deg);
}

@media only screen and (max-width: 992px) and (orientation: landscape) {
  .login-section .login-container .slider-control .right-side {
    right: -50px;
  }
  .login-section .slider-control .right-side {
    right: -50px;
  }
}
@media (max-width: 576px) {
  .login-section .slider-control .left-side .left-button {
    left: -10px;
    width: 60px;
    height: 40px;
  }
  .login-section .slider-control .left-side .left-button i {
    font-size: 1.2rem;
  }
  .login-section .slider-control .right-side {
    gap: 0.5rem;
    right: -40px;
  }
  .login-section .slider-control .right-side .indicator {
    width: 15px;
    height: 40px;
  }
  .login-section .slider-control .right-side .right-button {
    width: 60px;
    height: 40px;
  }
  .login-section .slider-control .right-side .right-button i {
    font-size: 1.2rem;
  }
}/*# sourceMappingURL=login-page.css.map */