@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  padding-right: 0 !important;
}

.line {
  width: 50px;
  height: 1.5px;
  background-color: white;
  opacity: 1;
}

.menu-links ul li a:hover {
  color: #FCF0D6 !important;
}

.mobile-sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1050;
  top: 0;
  right: 0;
  /* Menu slides in from right */
  background-color: white;
  overflow-x: hidden;
  transition: width 0.4s ease;
  padding-top: 20px;
}

.mobile-sidenav.open {
  width: 250px;
}

.mobile-sidenav ul {
  display: grid;
  grid-template-columns: auto auto;
}

.mobile-sidenav ul li {
  font-size: 12px;
  display: block;
  transition: 0.3s;
  background-color: #710004;
  width: 100px;
  aspect-ratio: 1/1;
}
.mobile-sidenav ul li img {
  width: 30px;
  height: 30px;
}
.mobile-sidenav ul li a {
  font-weight: 500;
  font-size: 14px;
}

.mobile-sidenav ul li a {
  color: #710004;
}

.mobile-sidenav .closebtn {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.mobile-sidenav .closebtn i {
  font-size: 28px;
  color: #710004 !important;
  font-weight: 700 !important;
}

.mobile-sidenav .closebtn i::before {
  font-weight: 700 !important;
}

.auth-dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 160px;
  overflow: hidden;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
  z-index: 1000;
  /* Animation friendly properties */
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  /* prevent clicks when hidden */
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-content.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  /* enable clicks when visible */
}

.dropdown-content a {
  background-color: white;
  color: black;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
}

.dropdown-content a:hover {
  background-color: black;
  color: white;
}

@media only screen and (max-width: 992px) {
  .Logo a {
    font-size: 1.2rem;
  }
}
@media screen and (max-height: 450px) {
  .mobile-sidenav {
    padding-top: 15px;
  }
  .mobile-sidenav ul li {
    font-size: 18px;
  }
}
.quotes-section .heading-container {
  color: #FCF0D6;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
.quotes-section .heading-container .button {
  display: flex;
  align-items: end;
}
.quotes-section .heading-container .button button {
  width: 160px;
  background-color: #FCF0D6;
  font-weight: 600;
}
.quotes-section .heading-container .button button:hover {
  background-color: black;
  color: white;
}
.quotes-section .heading-container .button button:focus, .quotes-section .heading-container .button button:active {
  outline: #000000 !important;
  box-shadow: #000000 !important;
  border-color: #000000;
}
.quotes-section .heading-container h1 {
  font-weight: 600;
}
.quotes-section .heading-container p {
  color: #FFFFFF;
}
.quotes-section .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 2rem;
}
.quotes-section .grid-container .quote-box {
  background-color: #FCF0D6;
  border-radius: 8px;
  position: relative;
  padding-right: 2rem !important;
}
.quotes-section .grid-container .quote-box .image-container {
  height: 7rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 3px solid #710004;
}
.quotes-section .grid-container .quote-box .image-container img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.quotes-section .grid-container .quote-box .quote-container {
  align-self: flex-start;
}
.quotes-section .grid-container .quote-box .text-container .quote {
  font-weight: 500;
}
.quotes-section .grid-container .quote-box .menu-wrapper {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 10px;
}
.quotes-section .grid-container .quote-box .menu-wrapper .menu-icon {
  font-size: 1.4rem;
  color: #000000;
}
.quotes-section .grid-container .quote-box .menu-wrapper .menu-dropdown {
  position: absolute;
  top: 30px;
  right: 0;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  width: 110px;
}
.quotes-section .grid-container .quote-box .menu-wrapper .menu-dropdown button {
  width: 100%;
  padding: 8px 12px;
  border: none;
  background: white;
  font-size: 0.9rem;
  text-align: left;
}
.quotes-section .grid-container .quote-box .menu-wrapper .menu-dropdown button:hover {
  background: #f5f5f5;
}
.quotes-section .grid-container .quote-box .menu-wrapper.show .menu-dropdown {
  display: block !important;
}
.quotes-section .modal .modal-dialog-scrollable {
  display: flex;
  align-items: center;
}
.quotes-section .modal .modal-dialog-scrollable .modal-content {
  border-radius: 8px;
  background-color: #FCF0D6;
  border: 2px solid #710004;
  position: relative;
}
.quotes-section .modal .modal-dialog-scrollable .modal-content .modal-body .heading h1 {
  color: #710004;
  font-weight: 600;
  text-align: center;
}
.quotes-section .modal .modal-dialog-scrollable .modal-content .modal-body .heading button {
  position: absolute;
  right: 15px;
  top: 20px;
  box-shadow: none;
}
.quotes-section .modal .modal-dialog-scrollable .modal-content .modal-body .form form label {
  font-weight: 500;
  color: #710004;
}
.quotes-section .modal .modal-dialog-scrollable .modal-content .modal-body .form form label span {
  font-weight: 400;
  color: black;
  font-size: 0.9rem;
}
.quotes-section .modal .modal-dialog-scrollable .modal-content .modal-body .form form input,
.quotes-section .modal .modal-dialog-scrollable .modal-content .modal-body .form form textarea,
.quotes-section .modal .modal-dialog-scrollable .modal-content .modal-body .form form select {
  background-color: unset;
  color: black;
  border: 2px solid #710004;
}
.quotes-section .modal .modal-dialog-scrollable .modal-content .modal-body .form form input::-moz-placeholder, .quotes-section .modal .modal-dialog-scrollable .modal-content .modal-body .form form textarea::-moz-placeholder, .quotes-section .modal .modal-dialog-scrollable .modal-content .modal-body .form form select::-moz-placeholder {
  font-size: 0.9rem;
  color: rgb(55, 55, 55);
}
.quotes-section .modal .modal-dialog-scrollable .modal-content .modal-body .form form input::placeholder,
.quotes-section .modal .modal-dialog-scrollable .modal-content .modal-body .form form textarea::placeholder,
.quotes-section .modal .modal-dialog-scrollable .modal-content .modal-body .form form select::placeholder {
  font-size: 0.9rem;
  color: rgb(55, 55, 55);
}
.quotes-section .modal .modal-dialog-scrollable .modal-content .modal-body .form form select.form-select option {
  background-color: #710004;
  color: white;
}
.quotes-section .modal .modal-dialog-scrollable .modal-content .modal-body .form form select.form-select option[value=""] {
  background-color: #b3b5b7;
}
.quotes-section .modal .modal-dialog-scrollable .modal-content .modal-body .form form textarea {
  resize: vertical;
  min-height: 100px;
}
.quotes-section .modal .modal-dialog-scrollable .modal-content .modal-body .form form .form-control:focus {
  background-color: #FCF0D6;
  box-shadow: 0 0 0 0.25rem rgba(113, 0, 4, 0.25);
  color: black;
}
.quotes-section .modal .modal-dialog-scrollable .modal-content .modal-body .form form button {
  background-color: #710004;
  color: #FCF0D6;
  font-weight: 500;
  border: none;
}
.quotes-section .modal .modal-dialog-scrollable .modal-content .modal-body .form form button:hover {
  background-color: #000000;
  color: #FFFFFF;
}

@media screen and (max-width: 992px) {
  .quotes-section .heading-container {
    flex-direction: column;
    gap: 1.5rem;
  }
}
@media screen and (max-width: 576px) {
  .quotes-section .grid-container {
    grid-template-columns: initial;
    grid-auto-columns: repeat(auto-fit, minmax(450px, 1fr));
  }
  .quotes-section .grid-container .image-container {
    height: 5rem !important;
  }
  .quotes-section .grid-container .text-container .quote {
    font-size: 1rem !important;
  }
  .quotes-section .grid-container .text-container .author {
    font-size: 0.9rem !important;
  }
}/*# sourceMappingURL=quotes-page.css.map */