@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  padding-right: 0 !important;
}

.line {
  width: 50px;
  height: 1.5px;
  background-color: white;
  opacity: 1;
}

.menu-links ul li a:hover {
  color: #FCF0D6 !important;
}

.mobile-sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1050;
  top: 0;
  right: 0;
  /* Menu slides in from right */
  background-color: white;
  overflow-x: hidden;
  transition: width 0.4s ease;
  padding-top: 20px;
}

.mobile-sidenav.open {
  width: 250px;
}

.mobile-sidenav ul {
  display: grid;
  grid-template-columns: auto auto;
}

.mobile-sidenav ul li {
  font-size: 12px;
  display: block;
  transition: 0.3s;
  background-color: #710004;
  width: 100px;
  aspect-ratio: 1/1;
}
.mobile-sidenav ul li img {
  width: 30px;
  height: 30px;
}
.mobile-sidenav ul li a {
  font-weight: 500;
  font-size: 14px;
}

.mobile-sidenav ul li a {
  color: #710004;
}

.mobile-sidenav .closebtn {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.mobile-sidenav .closebtn i {
  font-size: 28px;
  color: #710004 !important;
  font-weight: 700 !important;
}

.mobile-sidenav .closebtn i::before {
  font-weight: 700 !important;
}

.auth-dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 160px;
  overflow: hidden;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
  z-index: 1000;
  /* Animation friendly properties */
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  /* prevent clicks when hidden */
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.dropdown-content .username {
  width: 200px !important;
}

.dropdown-content.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  /* enable clicks when visible */
}

.dropdown-content a {
  background-color: white;
  color: black;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
}

.dropdown-content a:hover, .logout:hover {
  background-color: black !important;
  color: white !important;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

@media only screen and (max-width: 992px) {
  .Logo a {
    font-size: 1.2rem;
  }
}
@media screen and (max-height: 450px) {
  .mobile-sidenav {
    padding-top: 15px;
  }
  .mobile-sidenav ul li {
    font-size: 18px;
  }
}
.techniques-section {
  min-height: 500px;
}
.techniques-section .heading-container {
  color: #710004;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
.techniques-section .heading-container .button {
  display: flex;
  align-items: end;
}
.techniques-section .heading-container .button button {
  width: 190px;
  background-color: #710004;
  color: #FCF0D6;
  font-weight: 600;
}
.techniques-section .heading-container .button button:hover {
  background-color: black;
  color: white;
}
.techniques-section .heading-container .button button:focus, .techniques-section .heading-container .button button:active {
  outline: #000000 !important;
  box-shadow: #000000 !important;
  border-color: #000000;
}
.techniques-section .heading-container h1 {
  font-weight: 600;
}
.techniques-section .heading-container p {
  color: #000000;
}
.techniques-section .accordion-button {
  background-color: #710004;
  color: #FCF0D6;
  font-weight: 500;
}
.techniques-section .accordion-button .sport-badge {
  display: inline;
  color: #FCF0D6;
  font-size: 0.7rem;
  padding: 3px 10px !important;
  font-weight: 600;
  border: 2px solid #FCF0D6 !important;
}
.techniques-section .accordion-button:focus,
.techniques-section .accordion-button:active {
  box-shadow: none;
}
.techniques-section .accordion-button::after {
  display: none;
}
.techniques-section .custom-arrow {
  color: #FCF0D6;
  transition: transform 0.3s;
}
.techniques-section .accordion-button:not(.collapsed) .custom-arrow {
  transform: rotate(180deg);
}
.techniques-section .accordion-body {
  background-color: #FCF0D6;
  border: 5px solid #710004;
}
.techniques-section .body-head {
  font-weight: 600;
  color: #710004;
}
.techniques-section .accordion-body ol {
  list-style: none;
  counter-reset: item;
  padding-left: 0;
}
.techniques-section .accordion-body ol li {
  counter-increment: item;
  position: relative;
  padding-left: 2.5rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: 1.2rem;
}
.techniques-section .accordion-body ol li::before {
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: #710004;
  color: #FCF0D6;
}
.techniques-section .accordion-body {
  position: relative;
  padding-right: 2.2rem;
}
.techniques-section .menu-wrapper {
  position: absolute;
  top: 15px;
  right: 15px;
}
.techniques-section .menu-icon {
  cursor: pointer;
  font-size: 1.2rem;
}
.techniques-section .menu-dropdown {
  position: absolute;
  right: 0;
  top: 25px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  z-index: 5;
}
.techniques-section .menu-dropdown button {
  background: none;
  border: none;
  padding: 8px 12px;
  text-align: left;
  width: 100%;
}
.techniques-section .menu-dropdown button:hover {
  background: #f2f2f2;
}
.techniques-section .modal .modal-dialog-scrollable,
.techniques-section .modal .modal-dialog {
  display: flex;
  align-items: center;
}
.techniques-section .modal .modal-dialog-scrollable .modal-content,
.techniques-section .modal .modal-dialog .modal-content {
  border-radius: 8px;
  background-color: #FCF0D6;
  border: 2px solid #710004;
  position: relative;
}
.techniques-section .modal .modal-dialog-scrollable .modal-content .modal-body .heading h1,
.techniques-section .modal .modal-dialog .modal-content .modal-body .heading h1 {
  color: #710004;
  font-weight: 600;
  text-align: center;
}
.techniques-section .modal .modal-dialog-scrollable .modal-content .modal-body .heading button,
.techniques-section .modal .modal-dialog .modal-content .modal-body .heading button {
  position: absolute;
  right: 15px;
  top: 20px;
  box-shadow: none;
}
.techniques-section .modal .modal-dialog-scrollable .modal-content .modal-body .form form label,
.techniques-section .modal .modal-dialog .modal-content .modal-body .form form label {
  font-weight: 500;
  color: #710004;
}
.techniques-section .modal .modal-dialog-scrollable .modal-content .modal-body .form form label span,
.techniques-section .modal .modal-dialog .modal-content .modal-body .form form label span {
  font-weight: 400;
  color: black;
  font-size: 0.9rem;
}
.techniques-section .modal .modal-dialog-scrollable .modal-content .modal-body .form form input,
.techniques-section .modal .modal-dialog-scrollable .modal-content .modal-body .form form select,
.techniques-section .modal .modal-dialog .modal-content .modal-body .form form input,
.techniques-section .modal .modal-dialog .modal-content .modal-body .form form select {
  background-color: unset;
  color: black;
  border: 2px solid #710004;
}
.techniques-section .modal .modal-dialog-scrollable .modal-content .modal-body .form form input::-moz-placeholder, .techniques-section .modal .modal-dialog-scrollable .modal-content .modal-body .form form select::-moz-placeholder, .techniques-section .modal .modal-dialog .modal-content .modal-body .form form input::-moz-placeholder, .techniques-section .modal .modal-dialog .modal-content .modal-body .form form select::-moz-placeholder {
  font-size: 0.9rem;
  color: rgb(55, 55, 55);
}
.techniques-section .modal .modal-dialog-scrollable .modal-content .modal-body .form form input::placeholder,
.techniques-section .modal .modal-dialog-scrollable .modal-content .modal-body .form form select::placeholder,
.techniques-section .modal .modal-dialog .modal-content .modal-body .form form input::placeholder,
.techniques-section .modal .modal-dialog .modal-content .modal-body .form form select::placeholder {
  font-size: 0.9rem;
  color: rgb(55, 55, 55);
}
.techniques-section .modal .modal-dialog-scrollable .modal-content .modal-body .form form select.form-select option,
.techniques-section .modal .modal-dialog .modal-content .modal-body .form form select.form-select option {
  background-color: #710004;
  color: white;
}
.techniques-section .modal .modal-dialog-scrollable .modal-content .modal-body .form form select.form-select option[value=""],
.techniques-section .modal .modal-dialog .modal-content .modal-body .form form select.form-select option[value=""] {
  background-color: #b3b5b7;
}
.techniques-section .modal .modal-dialog-scrollable .modal-content .modal-body .form form .step span,
.techniques-section .modal .modal-dialog .modal-content .modal-body .form form .step span {
  width: 15px;
}
.techniques-section .modal .modal-dialog-scrollable .modal-content .modal-body .form form .step button,
.techniques-section .modal .modal-dialog .modal-content .modal-body .form form .step button {
  align-self: stretch;
}
.techniques-section .modal .modal-dialog-scrollable .modal-content .modal-body .form form .form-control:focus,
.techniques-section .modal .modal-dialog .modal-content .modal-body .form form .form-control:focus {
  background-color: #FCF0D6;
  box-shadow: 0 0 0 0.25rem rgba(113, 0, 4, 0.25);
  color: black;
}
.techniques-section .modal .modal-dialog-scrollable .modal-content .modal-body .form form button,
.techniques-section .modal .modal-dialog .modal-content .modal-body .form form button {
  background-color: #710004;
  color: #FCF0D6;
  font-weight: 500;
  border: none;
}
.techniques-section .modal .modal-dialog-scrollable .modal-content .modal-body .form form button:hover,
.techniques-section .modal .modal-dialog .modal-content .modal-body .form form button:hover {
  background-color: #000000;
  color: #FFFFFF;
}
.techniques-section .modal .modal-dialog-scrollable .modal-content h5,
.techniques-section .modal .modal-dialog .modal-content h5 {
  color: #710004;
}
.techniques-section .modal .modal-dialog-scrollable .modal-content .cancel,
.techniques-section .modal .modal-dialog .modal-content .cancel {
  border: 2px solid #710004;
}
.techniques-section .modal .modal-dialog-scrollable .modal-content .cancel:hover,
.techniques-section .modal .modal-dialog .modal-content .cancel:hover {
  background-color: black;
  color: white;
}
.techniques-section .modal .modal-dialog-scrollable .modal-content .delete,
.techniques-section .modal .modal-dialog .modal-content .delete {
  background-color: #710004;
  color: #FCF0D6;
}
.techniques-section .modal .modal-dialog-scrollable .modal-content .delete:hover,
.techniques-section .modal .modal-dialog .modal-content .delete:hover {
  background-color: black;
  color: white;
}
.techniques-section .modal .modal-dialog-scrollable .modal-content .btn-close,
.techniques-section .modal .modal-dialog .modal-content .btn-close {
  box-shadow: none;
}

@media screen and (max-width: 992px) {
  .techniques-section .heading-container {
    flex-direction: column;
    gap: 1.5rem;
  }
}/*# sourceMappingURL=techniques-page.css.map */