@use "../abstract/reset" as *;
@use "../abstract/variables" as *;

.fixtures-section {
    .heading-container {
        color: $red;

        h1 {
            font-weight: 600;
        }

        p {
            color: $black;
        }
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;

        .fixture-box {
            border: 2px solid $red;
            border-radius: 8px;
            position: relative; // for positioning menu

            .top-container {
                background-color: $red;
                color: $yellow;
                ;

                h2 {
                    font-weight: 700;
                }


                .menu-wrapper {
                    cursor: pointer;
                    position: absolute;
                    top: 18px;
                    right: 10px;

                    .menu-icon {
                        font-size: 1.4rem;
                        color: $yellow;
                    }

                    .menu-dropdown {
                        position: absolute;
                        top: 40px;
                        right: 0;
                        background: #fff;
                        border-radius: 8px;
                        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
                        overflow: hidden;
                        width: 110px;

                        button {
                            width: 100%;
                            padding: 8px 12px;
                            border: none;
                            background: white;
                            font-size: 0.9rem;
                            text-align: left;

                            &:hover {
                                background: #f5f5f5;
                            }
                        }
                    }

                    &.show .menu-dropdown {
                        display: block !important;
                    }
                }
            }

            .bottom-container {
                padding: 0.5rem 1rem;

                p {
                    font-weight: 500;
                    font-size: 1.2rem;
                    color: $red;
                }

                .sport-badge {
                    display: inline;
                    color: $red;
                    font-size: 0.7rem;
                    padding: 3px 10px !important;
                    font-weight: 600;
                    border: 2px solid $red !important;

                    
                }
            }
        }
    }
}