@use "../abstract/reset" as *;
@use "../abstract/variables" as *;

.fixtures-section {
    background-color: $yellow;

    .fixtures-container {
        .heading-container {
            color: $red;

            h1 {
                font-weight: 600;
            }

            p {
                color: $black;
            }
        }

        .fixture-slide {
            height: auto !important;

            .fixture-box {
                height: 100% !important;
                display: flex;
                flex-direction: column;
                border: 2px solid $red;
                border-radius: 8px;
                overflow: hidden;
                position: relative;
                background: $yellow;

                .top-container {
                    flex-shrink: 0;
                    background-color: $red;
                    color: $yellow;
                    position: relative;

                    h2 {
                        font-weight: 700;
                    }

                    .menu-wrapper {
                        cursor: pointer;
                        position: absolute;
                        top: 15px;
                        right: 10px;

                        .menu-icon {
                            font-size: 1.4rem;
                            color: $yellow;
                        }

                        .menu-dropdown {
                            position: absolute;
                            top: 32px;
                            right: 0;
                            background: #fff;
                            border-radius: 8px;
                            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
                            overflow: hidden;
                            width: 110px;
                            display: block;
                            z-index: 20;

                            button {
                                width: 100%;
                                padding: 8px 12px;
                                border: none;
                                background: white;
                                font-size: 0.9rem;
                                text-align: left;
                                color: $black;

                                &:hover {
                                    background: #f5f5f5;
                                }
                            }
                        }
                    }
                }

                .bottom-container {
                    padding: 1.2rem;
                    flex-grow: 1;

                    .sport-badge {
                        display: inline;
                        color: $red;
                        font-size: 0.7rem;
                        padding: 3px 10px !important;
                        font-weight: 600;
                        border: 2px solid $red !important;
                    }

                    p {
                        color: $red;

                    }
                }
            }
        }

        .fixtures-slider {
            padding-bottom: 3rem; // space for pagination
            padding-left: 2rem;
            padding-right: 2rem;

            @media (max-width: 768px){
                padding-left: 0rem;
                padding-right: 0rem;
            }

            .swiper-pagination-bullet {
                background-color: $red;
                opacity: 1;
                width: 12px;
                height: 12px;
                aspect-ratio: 1/1;
            }

            .swiper-pagination-bullet-active {
                background-color: $yellow;
                border: 3px solid $red;
            }

            .swiper-button-prev,
            .swiper-button-next {
                background-color: $red;
                color: $yellow;
                width: 45px !important;
                height: 45px !important;
                border-radius: 50%;
                border: 3px solid $yellow;

                &:after {
                    font-size: 25px !important;
                    font-weight: 700 !important;
                }
            }
        }
    }
}