@use "../abstract/reset" as *;
@use "../abstract/variables" as *;

.line {
  width: 50px;
  height: 1.5px;
  background-color: white;
  opacity: 1;
}

.menu-links {
  ul {
    li {
      a:hover {
        color: $yellow !important;
      }
    }
  }
}

.mobile-sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1050;
  top: 0;
  right: 0;
  /* Menu slides in from right */
  background-color: white;
  overflow-x: hidden;
  transition: width 0.4s ease;
  padding-top: 20px;
}

.mobile-sidenav.open {
  width: 250px;
}

.mobile-sidenav ul {
  display: grid;
  grid-template-columns: auto auto;
}

.mobile-sidenav ul li {
  font-size: 12px;
  display: block;
  transition: 0.3s;
  background-color: $red;
  width: 100px;
  aspect-ratio: 1/1;

  img{
    width: 30px;
    height: 30px;
  }

  a{
    font-weight: 500;
    font-size: 14px;
  }
}

.mobile-sidenav ul li a {
  color: #710004;
}

.mobile-sidenav .closebtn {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.mobile-sidenav .closebtn i {
  font-size: 28px;
  color: #710004 !important;
  font-weight: 700 !important;
}

.mobile-sidenav .closebtn i::before{
  font-weight: 700 !important;
}

.auth-dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 160px;
  overflow: hidden;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
  z-index: 1000;

  /* Animation friendly properties */
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  /* prevent clicks when hidden */
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-content.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  /* enable clicks when visible */
}

.dropdown-content a {
  background-color: white;
  color: black;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
}

.dropdown-content a:hover {
  background-color: black;
  color: white;
}

@media only screen and (max-width: 992px){
  .Logo a{
    font-size: 1.2rem;
  }
}

@media screen and (max-height: 450px) {
  .mobile-sidenav {
    padding-top: 15px;
  }

  .mobile-sidenav ul li {
    font-size: 18px;
  }
}