@use "../abstract/reset" as *;
@use "../abstract/variables" as *;

// Intro Section

.intro-section {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;

  .intro-swiper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    .slide-image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }
  }

  .gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#71000490, #fcf0d695 50%, #6b9ebd90 100%);
    z-index: 5;
  }

  header {
    position: relative;
    z-index: 20;
  }

  .intro-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    z-index: 10;

    .content-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 5;
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-areas:
        "dates slogan quotes"
        "dates desc quotes";
      align-items: center;
      justify-content: space-between;


      .dates-container {
        grid-area: dates;

        .dates-box {
          background-color: $yellow;
          width: 4rem;
          height: 4rem;
          cursor: pointer;
        }
      }

      .slogan-container {
        grid-area: slogan;
        color: $black;
        justify-self: center;
        align-self: end;

        h1 {
          font-family: $inter-font;
          font-weight: 900;
        }
      }

      .desc-container {
        grid-area: desc;
        justify-self: center;
        align-self: start;

        p {
          color: $black;
          font-family: $inter-font;
          font-weight: 600;
        }
      }

      .quotes-container {
        grid-area: quotes;
        justify-self: end;

        .quotes-box {
          background-color: $yellow;
          width: 4rem;
          aspect-ratio: 1/1;
          cursor: pointer;

          img {
            object-fit: cover;
            width: 4rem;
            height: 4rem;
            aspect-ratio: 1/1;
          }

        }
      }
    }
  }

  .slider-control {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    z-index: 15;

    .left-side {
      .left-button {
        position: absolute;
        left: -15px;
        width: 80px;
        height: 50px;
        transform: skew(20deg);
        background: $red;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        i {
          color: $yellow;
          font-size: 1.5rem;
          transform: skew(-20deg);
          width: 100%;

          &:hover {
            animation: horizontal-bounce-left 1.5s infinite;
          }
        }
      }
    }

    .right-side {
      display: flex;
      align-items: center;
      gap: 1rem;
      position: relative;
      right: -50px;

      .indicator {
        width: 20px;
        height: 50px;
        transform: skew(-20deg);
        background-color: $red;

        &.active {
          background-color: $yellow;
          border: 5px solid $red;
        }
      }

      .right-button {
        width: 80px;
        height: 50px;
        transform: skew(-20deg);
        background: $red;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        i {
          color: $yellow;
          font-size: 1.5rem;
          transform: skew(20deg);
          width: 100%;


          &:hover {
            animation: horizontal-bounce-right 1.5s infinite;
          }
        }
      }
    }
  }

  .scroll-down {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 15;

    .arrow {
      font-size: 1.5rem;
      animation: bounce 1.5s infinite;
    }
  }

  @keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }

    40% {
      transform: translateY(-10px);
    }

    60% {
      transform: translateY(-5px);
    }
  }

  @keyframes horizontal-bounce-left {

    0%,
    20%,
    50%,
    80%,
    100% {
      transform: skew(-20deg) translateX(0);
    }

    40% {
      transform: skew(-20deg) translateX(-8px);
    }

    60% {
      transform: skew(-20deg) translateX(-5px);
    }
  }

  @keyframes horizontal-bounce-right {

    0%,
    20%,
    50%,
    80%,
    100% {
      transform: skew(20deg) translateX(0);
    }

    40% {
      transform: skew(20deg) translateX(8px);
    }

    60% {
      transform: skew(20deg) translateX(5px);
    }
  }



  .modal-dialog {
    display: flex;


    .modal-body {
      max-height: 500px;
    }

    .modal-content {
      border-radius: 8px;
      background-color: $yellow;
      border: 2px solid $red;
      position: relative;

      h1 {
        color: $red;
        font-weight: 700;
        text-align: center;
      }

      button {
        position: absolute;
        right: 15px;
        top: 18px;
        box-shadow: none;
      }


    }
  }

  .fixture-box {
    border: 2px solid $red;
    border-radius: 8px;
    position: relative; // for positioning menu
    width: 300px;
    justify-self: center;

    .top-container {
      background-color: $red;
      color: $yellow;
      ;

      h2 {
        font-weight: 700;
      }
    }

    .bottom-container {
      padding: 0.5rem 1rem;

      p {
        font-weight: 500;
        font-size: 1.2rem;
        color: $red;
      }

      .sport-badge {
        display: inline;
        color: $red;
        font-size: 0.7rem;
        padding: 3px 10px !important;
        font-weight: 600;
        border: 2px solid $red !important;



      }
    }
  }

  .quote-box {
    border-radius: 8px;
    position: relative;
    max-width: 700px;
    justify-self: center;
    color: $yellow;

    .image-container {
      height: 7rem;
      width: 7rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
      border: 3px solid $red;
      margin-left: auto;
      margin-right: auto !important;


      img {
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 50%;
      }

      i {
        color: #6c757d;
        margin-left: auto;
        margin-right: auto !important;
      }
    }

    .quote-container {
      align-self: flex-start;
      color: $red;
    }

    .text-container {
      color: $red;
      width: 100%;

      .quote {
        font-weight: 500;
      }
    }

    h2 {
      color: $red;
    }


  }


}

@media only screen and (max-width: 992px) and (orientation: landscape) {
  .intro-section {
    .intro-container {
      .content-container {

        .dates-container {
          .dates-box {
            width: 3rem;
            height: 3rem;
            font-size: 0.7rem;

            .day {
              font-size: 1.2rem !important;
            }
          }
        }

        .quotes-container {
          .quotes-box {
            width: 3rem;

            img {
              object-fit: cover;
              width: 3rem;
              height: 3rem;
              aspect-ratio: 1/1;
            }

            p {
              font-size: 1.3rem;
            }


          }
        }

        .desc-container,
        .slogan-container {


          h1 {
            font-size: 2rem;
          }

          p {
            font-size: 1.2rem;
          }
        }

      }

      .slider-control {
        .right-side {
          right: -50px;
        }
      }
    }

    .slider-control {
      .right-side {
        right: -50px;
      }
    }

    .scroll-down {
      bottom: 30px;
      left: 48%;

      .arrow {
        font-size: 0.5rem;
      }
    }
  }
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
  .intro-section {
    .intro-container {
      .content-container {

        .slogan-container,
        .desc-container {


          h1 {
            font-size: 1.5rem;
          }

          p {
            font-size: 1rem;
          }
        }

      }
    }
  }
}

@media (max-width: 576px) {
  .intro-section {
    .intro-container {
      .content-container {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:
          ". . ."
          ". . ."
          "dates slogan quotes"
          "desc desc desc"
          ". . .";

        grid-template-rows: 0.5fr 0.7fr 1.1fr 1fr 1fr;
        row-gap: 1rem;


        .dates-container {
          .dates-box {
            width: 3rem;
            height: 3rem;
            font-size: 0.7rem;
          }
        }

        .quotes-container {
          .quotes-box {
            width: 3rem;

            img {
              object-fit: cover;
              width: 3rem;
              height: 3rem;
              aspect-ratio: 1/1;
            }
          }
        }

        .slogan-container {
          align-self: center;

          h1 {
            font-size: 2.5rem !important;
          }

        }

        .desc-container,
        .slogan-container {


          h1 {
            font-size: 2rem;
          }

          p {
            font-size: 1.2rem;
            margin: 0px !important;
          }
        }

      }
    }

    .slider-control {
      .left-side {
        .left-button {
          left: -10px;
          width: 60px;
          height: 40px;

          i {
            font-size: 1.2rem;
          }
        }
      }

      .right-side {
        gap: 0.5rem;
        right: -40px;

        .indicator {
          width: 15px;
          height: 40px;
        }

        .right-button {
          width: 60px;
          height: 40px;

          i {
            font-size: 1.2rem;
          }
        }
      }
    }

    .scroll-down {
      bottom: 30px;
      left: 48%;

      .arrow {
        font-size: 0.5rem;
      }
    }
  }
}