@use "../abstract/reset" as *;
@use "../abstract/variables" as *;

.login-section {
  width: 100%;
  overflow: hidden;

  .login-container {
    z-index: 30;
    width: 100%;
    margin-top: 7rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    align-items: center;
    justify-items: center;
    color: $yellow;

    .login-heading {
      justify-self: flex-end;
      align-self: flex-start;
      max-width: 450px;

      h1 {
        font-weight: 600;
      }

      p {
        color: $white;
      }
    }

    .login-form {
      max-width: 450px;
      justify-self: self-start;
      position: relative;
      background-color: $yellow;
      color: $red;
      border-radius: 8px;
      

      form{
        label{
          font-weight: 500;
        }

        input{
          background-color:unset;
          color: black;
          border: 2px solid $red;

        }

        .form-control:focus{
          background-color: $yellow;
          box-shadow: 0 0 0 .25rem rgb(113, 0, 4, 0.25);
          color: black;
        }

        button{
          background-color: $red;
          color: $yellow;
          font-weight: 500;
          border: none;

          &:hover{
            background-color: $black;
            color: $white;
          }
        }

        .sign-up{
          color: $black;

          .link{
            color: $red
          }
        }
      }
    }
  }


}

@media only screen and (max-width: 992px) {
  .login-section {
    .login-container {
      grid-template-columns: repeat(1, 1fr);
      margin-top: 4rem;
      gap: 2rem;

      .login-heading{
        justify-self:unset;
        max-width: 450px;
      }

      .login-form{
        justify-self:unset;
      }
    }

  }
}

@media (max-width: 576px) {
  .login-section {
    .login-container {
      margin-top: 2rem;
    }


  }
}