@use "../abstract/reset" as *;
@use "../abstract/variables" as *;

.moments-section {
    .heading-container {
        color: $yellow;
        display: flex;
        justify-content: space-between;
        gap: 3rem;

        .button {
            display: flex;
            align-items: end;

            button {
                width: 160px;
                background-color: $yellow;
                font-weight: 600;

                &:hover {
                    background-color: black;
                    color: white;
                }

                &:focus,
                &:active {
                    outline: $black !important;
                    box-shadow: $black !important;
                    border-color: $black;
                }
            }

        }

        h1 {
            font-weight: 600;
        }

        p {
            color: $white;
        }
    }

    .grid-container {
        column-count: 3; // 3 columns for desktop
        column-gap: 2rem;
        width: 100%;

        @media screen and (max-width: 1200px) {
            column-count: 2; // tablet
        }

        @media screen and (max-width: 576px) {
            column-count: 1; // mobile
        }

        .moment-box {
            display: grid;
            grid-template-rows: auto 1fr;
            break-inside: avoid;
            margin-bottom: 2rem;
            border-radius: 8px;
            background-color: $yellow;
            overflow: hidden;

            // IMAGE SECTION
            .moment-image {
                width: 100%;
                height: 250px;
                position: relative;
                border-radius: 8px 8px 0 0;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .sport-badge {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    background: $red;
                    color: #fff;
                    padding: 4px 10px;
                    font-size: 0.85rem;
                    border-radius: 6px;
                    z-index: 4;
                }

                .menu-wrapper {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    cursor: pointer;
                    z-index: 5;
                    background-color: $red;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;


                    .menu-icon {
                        font-size: 1.2rem;
                        color: white;
                    }

                    .menu-dropdown {
                        position: absolute;
                        top: 35px;
                        right: 0;
                        background: #fff;
                        border-radius: 8px;
                        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
                        overflow: hidden;
                        width: 110px;

                        button {
                            width: 100%;
                            padding: 8px 12px;
                            border: none;
                            background: white;
                            font-size: 0.9rem;
                            text-align: left;

                            &:hover {
                                background: #f5f5f5;
                            }
                        }
                    }

                    &.show .menu-dropdown {
                        display: block !important;
                    }
                }

                /* NO IMAGE BOX */
                &.no-image-wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: $yellow;

                    .no-image-inner {
                        width: 40%;
                        height: 40%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 80%;
                    bottom: 0;
                    width: 100%;
                    height: 71%;
                    background: linear-gradient(rgba(0, 0, 0, 0) 0%,
                            #FCF0D6 29%);
                    pointer-events: none;
                }
            }

            // CONTENT SECTION
            .moment-content {
                padding: 1rem;
                z-index: 2;

                .top-container {
                    h2 {
                        color: $red;
                        font-weight: 500;
                    }

                    p {
                        font-weight: 400;
                        font-size: 1.2rem;
                    }
                }

                .bottom-container {
                    p {
                        font-weight: 300;
                    }
                }
            }
        }
    }

    .modal {

        .modal-dialog-scrollable {
            display: flex;
            align-items: center;

            .modal-content {
                border-radius: 8px;
                background-color: $yellow;
                border: 2px solid $red;
                position: relative;

                .modal-body {
                    .heading {
                        h1 {
                            color: $red;
                            font-weight: 600;
                            text-align: center;
                        }

                        button {
                            position: absolute;
                            right: 15px;
                            top: 20px;
                        }
                    }

                    .form {
                        form {
                            label {
                                font-weight: 500;
                                color: $red;

                                span {
                                    font-weight: 400;
                                    color: black;
                                    font-size: 0.9rem;
                                }
                            }

                            input,
                            textarea,
                            select {
                                background-color: unset;
                                color: black;
                                border: 2px solid $red;


                                &::placeholder {
                                    font-size: 0.9rem;
                                    color: rgb(55, 55, 55);
                                }
                            }


                            select.form-select option {
                                background-color: $red;
                                color: white;
                            }

                            select.form-select option[value=""] {
                                background-color: #b3b5b7;
                            }


                            textarea {
                                resize: vertical;
                                min-height: 100px;
                            }

                            .form-control:focus {
                                background-color: $yellow;
                                box-shadow: 0 0 0 .25rem rgb(113, 0, 4, 0.25);
                                color: black;
                            }

                            button {
                                background-color: $red;
                                color: $yellow;
                                font-weight: 500;
                                border: none;

                                &:hover {
                                    background-color: $black;
                                    color: $white;
                                }
                            }

                            #moment-image::file-selector-button {
                                background-color: $red;
                                color: $yellow;
                            }

                        }
                    }
                }
            }
        }


    }


}

@media screen and (max-width: 992px) {
    .moments-section {
        .heading-container {
            flex-direction: column;
            gap: 1.5rem;
        }
    }
}