@use "../abstract/reset" as *;
@use "../abstract/variables" as *;

.moments-section {
    .heading-container {
        color: $yellow;

        h1 {
            font-weight: 600;
        }

        p {
            color: $white;
        }
    }

    .grid-container {
        column-count: 3; // 3 columns for desktop
        column-gap: 2rem;
        width: 100%;

        @media screen and (max-width: 1200px) {
            column-count: 2; // tablet
        }

        @media screen and (max-width: 576px) {
            column-count: 1; // mobile
        }

        .moment-box {
            display: grid;
            grid-template-rows: auto 1fr;
            break-inside: avoid;
            margin-bottom: 2rem;
            border-radius: 8px;
            background-color: $yellow;
            overflow: hidden;

             // IMAGE SECTION
            .moment-image {
                width: 100%;
                height: 250px;
                position: relative;
                border-radius: 8px 8px 0 0;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .sport-badge {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    background: $red;
                    color: #fff;
                    padding: 4px 10px;
                    font-size: 0.85rem;
                    border-radius: 6px;
                    z-index: 4;
                }

                .menu-wrapper {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    cursor: pointer;
                    z-index: 5;
                    background-color: $red;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;


                    .menu-icon {
                        font-size: 1.2rem;
                        color: white;
                    }

                    .menu-dropdown {
                        position: absolute;
                        top: 35px;
                        right: 0;
                        background: #fff;
                        border-radius: 8px;
                        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
                        overflow: hidden;
                        width: 110px;

                        button {
                            width: 100%;
                            padding: 8px 12px;
                            border: none;
                            background: white;
                            font-size: 0.9rem;
                            text-align: left;

                            &:hover {
                                background: #f5f5f5;
                            }
                        }
                    }

                    &.show .menu-dropdown {
                        display: block !important;
                    }
                }

                /* NO IMAGE BOX */
                &.no-image-wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: $yellow;

                    .no-image-inner {
                        width: 40%;
                        height: 40%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 80%;
                    bottom: 0;
                    width: 100%;
                    height: 71%;
                    background: linear-gradient(rgba(0, 0, 0, 0) 0%,
                            #FCF0D6 29%);
                    pointer-events: none; 
                }
            }

             // CONTENT SECTION
            .moment-content {
                padding: 1rem;
                z-index: 2;

                .top-container {
                    h2 {
                        color: $red;
                        font-weight: 500;
                    }

                    p {
                        font-weight: 400;
                        font-size: 1.2rem;
                    }
                }

                .bottom-container {
                    p {
                        font-weight: 300;
                    }
                }
            }
        }
    }
}
