@use "../abstract/reset" as *;
@use "../abstract/variables" as *;

.quotes-section {
    .heading-container {

        h1 {
            font-weight: 600;
        }

        p {
            color: $white;
        }
    }

    .quotes-slider {

        .quote-box {
            border-radius: 8px;
            position: relative;
            padding-right: 2rem !important;
            max-width: 700px;
            justify-self: center;
            color: $yellow;

            .image-container {
                height: 9rem;
                aspect-ratio: 1/1;
                border-radius: 50%;
                border: 3px solid $yellow;

                img {
                    width: 100%;
                    height: 100%;
                    aspect-ratio: 1/1;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }

            .quote-container {
                align-self: flex-start;
            }

            .text-container {
                .quote {
                    font-weight: 500;
                }
            }

            .menu-wrapper {
                cursor: pointer;
                position: absolute;
                top: 20px;
                right: 10px;

                .menu-icon {
                    font-size: 1.4rem;
                    color: $white;
                }

                .menu-dropdown {
                    position: absolute;
                    top: 30px;
                    right: 0;
                    background: #fff;
                    border-radius: 8px;
                    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
                    overflow: hidden;
                    width: 110px;

                    button {
                        width: 100%;
                        padding: 8px 12px;
                        border: none;
                        background: white;
                        font-size: 0.9rem;
                        text-align: left;

                        &:hover {
                            background: #f5f5f5;
                        }
                    }
                }

                &.show .menu-dropdown {
                    display: block !important;
                }
            }
        }

        .swiper-pagination-bullet {
            background-color: $yellow;
            opacity: 1;
            width: 12px;
            height: 12px;
            aspect-ratio: 1/1;
        }

        .swiper-pagination-bullet-active {
            background-color: $red;
            border: 3px solid $yellow;
        }

        .swiper-button-prev,
        .swiper-button-next {
            background-color: $yellow;
            color: $red;
            width: 45px !important;
            height: 45px !important;
            border-radius: 50%;
            border: 3px solid $red;
            top: 46% !important;

            &:after {
                font-size: 25px !important;
                font-weight: 700 !important;
            }
        }
    }
}

@media (max-width: 992px) {
    .quotes-section {
        .quotes-slider {
            .quote-box {
                max-width: 600px;

                .image-container {
                    height: 7rem;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .quotes-section {
        .quotes-slider {
            .quote-box {
                max-width: none;
                display: grid !important;
                grid-template-areas:
                    "photo photo"
                    "icons quote";


                .image-container {
                    grid-area: photo;
                    justify-self: center;
                    margin-bottom: 1rem;
                }

                .quote-container {
                    grid-area: icons;

                    i {
                        font-size: 3rem !important
                    }

                    ;
                }

                .text-container {
                    grid-area: quote;

                    .quote {
                        font-size: 1.5rem !important;
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .quotes-section {
        .quotes-slider {
            .quote-box {
                .text-container {
                    grid-area: quote;

                    .quote {
                        font-size: 1.2rem !important;
                    }
                }
            }
        }
    }
}