@use "../abstract/reset" as *;
@use "../abstract/variables" as *;


.sessions-section {
    .heading-container {
        color: $yellow;


        h1 {
            font-weight: 600;
        }


        p {
            color: $white;
        }
    }


    .grid-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: stretch;
        grid-template-rows: minmax(30px, auto);
    }


    .content {
        background: $yellow;
        padding: 2rem;
        position: relative;
        max-height: 100%;


        // Vertical divider between content and buttons
        &::after {
            content: "";
            position: absolute;
            top: 1rem;
            bottom: 1rem;
            right: 0;
            width: 1px;
            background: $red;
        }
    }


    .buttons {
        min-height: 100%;
        position: relative;
        background-color: $red;
    }


    .session-btn {
        width: 100%;
        padding: 1rem;
        border: none;
        background-color: $yellow;
        font-size: 1.1rem;
        cursor: pointer;
        transition: 0.3s;


        &:hover {
            background: $black;
            color: white;
        }
    }


    .session-btn.active {
        background: $red;
        color: white;
        border: 4px solid $yellow !important;
    }


    .session-divider {
        position: absolute;
        color: $red;
        border: 2px solid $red;
        margin: 0.25rem 0;
        opacity: 1;
        width: 95%;
        bottom: -5px
    }


    .mySwiper {
        height: 350px;
        position: relative;


        .swiper-slide {
            display: flex;
            align-items: stretch;
        }


        .swiper-pagination {
      position: absolute !important; // absolute inside buttons
      right: -25px !important;                  // move outside
      top: 50%;
      transform: translateY(-50%);
      width: 10px !important;
      height: auto;
      background: none; // remove default if needed
      z-index: 999 !important;
    }


    .swiper-pagination-bullet {
      background: #710004; // bullet color
      opacity: 1;
    }


    .swiper-pagination-bullet-active {
      background: $red; // active bullet color
    }
 
    }


   
//     .swiper-indicator {
//   display: flex;
//   flex-direction: column;
//   position: absolute;
//   right: 50px; // outside the buttons
//   align-self: center;


//   .indicator-dot {
//     width: 10px;
//     height: 10px;
//     border-radius: 50%;
//     background: #ffe680; // inactive color
//     margin: 5px 0;


//     &.active {
//       background: $red; // active dot color
//     }
//   }
// }
}
