@use "../abstract/reset" as *;
@use "../abstract/variables" as *;

.sessions-section {
    min-height: 500px;

    .heading-container {
        color: $yellow;
        display: flex;
        justify-content: space-between;
        gap: 3rem;

        .button {
            display: flex;
            align-items: end;

            button {
                width: 160px;
                background-color: $yellow;
                font-weight: 600;

                &:hover {
                    background-color: black;
                    color: white;
                }

                &:focus,
                &:active {
                    outline: $black !important;
                    box-shadow: $black !important;
                    border-color: $black;
                }
            }

        }

        h1 {
            font-weight: 600;
        }

        p {
            color: $white;
        }
    }

    .grid-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: stretch;
        grid-template-areas: 'content buttons';
        grid-template-rows: minmax(30px, auto);
    }

    .content {
        background: $yellow;
        padding: 2rem;
        max-height: 100%;
        grid-area: content;
        position: relative;

        h1 {
            font-weight: 500 !important;
            color: $red;
        }

        .exercise-title {
            font-weight: 500;
        }

        ul {
            padding-left: 1.5rem;
            list-style-position: outside;
        }

        ul li {
            font-weight: 400;
        }

        ul li::marker {
            color: $red !important;
            font-size: 1.5rem;
        }

        .menu-wrapper {
            position: absolute;
            top: 30px;
            right: 15px;
        }

        .menu-icon {
            cursor: pointer;
            font-size: 1.5rem;
        }

        .menu-dropdown {
            position: absolute;
            top: 30px;
            right: 0;
            background: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
            overflow: hidden;
            width: 110px;
            z-index: 20;

            button {
                width: 100%;
                padding: 8px 12px;
                border: none;
                background: white;
                color: $black;
                font-size: 0.9rem;
                text-align: left;

                &:hover {
                    background: #f5f5f5;
                }
            }
        }
    }

    .buttons {
        min-height: 100%;
        position: relative;
        background-color: $red;
        grid-area: buttons;

        &::before {
            content: "";
            position: absolute;
            top: 1rem;
            height: 343px;
            left: 0;
            width: 1.8px;
            background: $red;
            z-index: 10;
        }

        .arrow-desktop-container {
            position: absolute;
            height: 370px;
            display: flex;
            width: 100%;

        }

        .arrow-btn {
            position: absolute;
            background: transparent;
            border: none;
            font-size: 1.5rem;
            cursor: pointer;
            z-index: 20;

            i {
                color: $yellow;
            }
        }

        .arrow-btn.up {
            top: 0px;
            left: 95.5%;
            transform: translateX(-50%);
        }

        .arrow-btn.down {
            bottom: 0px;
            left: 95.5%;
            transform: translateX(-50%);
        }

        .arrow-btn.left {
            left: 0px;
            top: 90%;
            transform: translateY(-50%);
        }

        .arrow-btn.right {
            right: 0px;
            top: 90%;
            transform: translateY(-50%);
        }
    }

    .session-btn {
        width: 91%;
        max-width: 400px;
        padding: 1rem;
        border: none;
        background-color: $yellow;
        font-size: 1.1rem;
        font-weight: 500;
        cursor: default !important;
        transition: 0.3s;

        &:hover {
            background: $black;
            color: white;
            border: 4px solid $yellow !important;
            border-bottom: 6px solid $yellow !important;
            border-left: 6px solid $yellow !important;
        }
    }

    .session-btn.active {
        background: $red;
        color: $yellow;
        border: 4px solid $yellow !important;
        border-bottom: 6px solid $yellow !important;
        border-left: 6px solid $yellow !important;
    }

    .session-divider {
        position: absolute;
        color: $red;
        border: 2px solid $red;
        margin: 0.25rem 0;
        opacity: 1;
        width: 83%;
        bottom: -5px
    }

    .mySwiper {
        height: 370px;
        position: relative;

        .swiper-slide {
            display: flex;
            align-items: stretch;
        }

        .swiper-pagination {
            position: absolute !important;
            right: 12px !important;
            top: 50%;
            transform: translateY(-50%);
            width: 15px !important;
            height: auto;
            background: none;
            z-index: 999 !important;
        }

        .swiper-pagination-bullet {
            background-color: $yellow;
            opacity: 1;
            width: 12px;
            height: 12px;
            aspect-ratio: 1/1;
        }

        .swiper-pagination-bullet-active {
            background-color: $red;
            border: 2px solid $yellow;
        }

    }

    .modal {

        .modal-dialog-scrollable,
        .modal-dialog {
            display: flex;
            align-items: center;

            .modal-content {
                border-radius: 8px;
                background-color: $yellow;
                border: 2px solid $red;
                position: relative;

                .modal-body {
                    .heading {
                        h1 {
                            color: $red;
                            font-weight: 600;
                            text-align: center;
                        }

                        button {
                            position: absolute;
                            right: 15px;
                            top: 20px;
                            box-shadow: none;
                        }
                    }

                    .form {
                        form {
                            label {
                                font-weight: 500;
                                color: $red;

                                span {
                                    font-weight: 400;
                                    color: black;
                                    font-size: 0.9rem;
                                }
                            }

                            input,
                            select {
                                background-color: unset;
                                color: black;
                                border: 2px solid $red;


                                &::placeholder {
                                    font-size: 0.9rem;
                                    color: rgb(55, 55, 55);
                                }
                            }


                            select.form-select option {
                                background-color: $red;
                                color: white;
                            }

                            select.form-select option[value=""] {
                                background-color: #b3b5b7;
                            }

                            .exercise {
                                button {
                                    align-self: stretch;
                                }
                            }

                            input.form-control:focus {
                                background-color: $yellow !important;
                                color: black !important;
                            }

                            input:-webkit-autofill,
                            input:-webkit-autofill:hover,
                            input:-webkit-autofill:focus {
                                background-color: $yellow !important;
                                -webkit-box-shadow: 0 0 0 1000px $yellow inset !important;
                                box-shadow: 0 0 0 1000px $yellow inset !important;
                                -webkit-text-fill-color: black !important;
                                color: black !important;
                            }

                            input:-internal-autofill-selected {
                                background-color: $yellow !important;
                                color: black !important;
                            }

                            .form-control:focus {
                                background-color: $yellow;
                                box-shadow: 0 0 0 .25rem rgb(113, 0, 4, 0.25);
                                color: black;
                            }

                            button {
                                background-color: $red;
                                color: $yellow;
                                font-weight: 500;
                                border: none;

                                &:hover {
                                    background-color: $black;
                                    color: $white;
                                }
                            }

                        }
                    }
                }

                h5 {
                    color: $red;
                }

                .cancel {
                    border: 2px solid $red ;

                    &:hover {
                        background-color: black;
                        color: white;
                    }
                }

                .delete {
                    background-color: $red;
                    color: $yellow;

                    &:hover {
                        background-color: black;
                        color: white;
                    }
                }

                .btn-close {
                    box-shadow: none;
                }
            }
        }


    }
}

@media screen and (max-width: 1023px) {
    .sessions-section {
        .grid-container {
            grid-template-areas:
                'buttons'
                'content';
            grid-template-columns: none;
            gap: 3rem;
        }

        .buttons {
            width: 100%;
            overflow: hidden;

            &::before {
                display: none;
            }

            .mySwiper {
                width: 100% !important;
                height: auto !important;

                .swiper-pagination {
                    position: absolute !important;
                    bottom: 0px !important;
                    top: auto !important;
                    left: 50%;
                    transform: translateX(-50%);
                    display: flex !important;
                    justify-content: center;
                    gap: 8px;
                    width: 50% !important;
                }

                .swiper-slide {
                    width: auto !important;
                    flex-shrink: 0;
                    height: 90px;
                }
            }

            .session-btn {
                width: max-content !important;
                max-width: 250px;
                white-space: nowrap;
                padding: 0.8rem 1.2rem;
                font-size: 1rem;
                height: 55px;
                color: $black;

                &:hover {
                    background: black;
                    border: 0 !important;
                    box-shadow: inset 0 0 0 4px #FCF0D6;
                }
            }

            .session-btn.active {
                box-shadow: inset 0 0 0 4px $yellow;
                border: none !important;
                background: $red;
                color: $yellow
            }

            .session-divider {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .sessions-section {
        .heading-container {
            flex-direction: column;
            gap: 1.5rem;
        }
    }
}