@use "../abstract/reset" as *;
@use "../abstract/variables" as *;


.sessions-section {
    .heading-container {
        color: $yellow;


        h1 {
            font-weight: 600;
        }


        p {
            color: $white;
        }
    }


    .grid-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: stretch;
        grid-template-rows: minmax(30px, auto);
    }


    .content {
        background: $yellow;
        padding: 2rem;
        position: relative;
        max-height: 100%;

        h1 {
            font-weight: 500 !important;
            color: $red;
        }

        ul {
            padding-left: 1.5rem;
            list-style-position: outside;
        }

        ul li {
            font-weight: 400;
        }

        ul li::marker {
            color: $red !important;
            font-size: 1.5rem;
        }
    }


    .buttons {
        min-height: 100%;
        position: relative;
        background-color: $red;

        &::before {
            content: "";
            position: absolute;
            top: 1rem;
            height: 320px;
            left: 0;
            width: 1.5px;
            background: $red;
            z-index: 10;
        }
    }


    .session-btn {
        width: 100%;
        padding: 1rem;
        border: none;
        background-color: $yellow;
        font-size: 1.1rem;
        cursor: pointer;
        transition: 0.3s;


        &:hover {
            background: $black;
            color: white;
            border: 4px solid $yellow !important;
            border-bottom: 6px solid $yellow !important;
        }
    }


    .session-btn.active {
        background: $red;
        color: white;
        border: 4px solid $yellow !important;
        border-bottom: 6px solid $yellow !important;
    }


    .session-divider {
        position: absolute;
        color: $red;
        border: 2px solid $red;
        margin: 0.25rem 0;
        opacity: 1;
        width: 93%;
        bottom: -5px
    }


    .mySwiper {
        height: 350px;
        position: relative;


        .swiper-slide {
            display: flex;
            align-items: stretch;
        }


        .swiper-pagination {
            position: absolute !important; // absolute inside buttons
            right: -25px !important; // move outside
            top: 50%;
            transform: translateY(-50%);
            width: 10px !important;
            height: auto;
            background: none; // remove default if needed
            z-index: 999 !important;
        }


        .swiper-pagination-bullet {
            background: #710004; // bullet color
            opacity: 1;
        }


        .swiper-pagination-bullet-active {
            background: $red; // active bullet color
        }

    }

    .menu-wrapper {
        position: absolute;
        top: 40px;
        right: 15px;
    }

    .menu-icon {
        cursor: pointer;
        font-size: 1.5rem;
    }

    .menu-dropdown {
        position: absolute;
        right: 0;
        top: 25px;
        background: white;
        border: 1px solid #ddd;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        z-index: 5;
    }

    .menu-dropdown button {
        background: none;
        border: none;
        padding: 8px 12px;
        text-align: left;
        width: 100%;
    }

    .menu-dropdown button:hover {
        background: #f2f2f2;
    }




    //     .swiper-indicator {
    //   display: flex;
    //   flex-direction: column;
    //   position: absolute;
    //   right: 50px; // outside the buttons
    //   align-self: center;


    //   .indicator-dot {
    //     width: 10px;
    //     height: 10px;
    //     border-radius: 50%;
    //     background: #ffe680; // inactive color
    //     margin: 5px 0;


    //     &.active {
    //       background: $red; // active dot color
    //     }
    //   }
    // }
}