@use "../abstract/reset" as *;
@use "../abstract/variables" as *;

.sessions-section {
    .heading-container {
        color: $yellow;

        h1 {
            font-weight: 600;
        }

        p {
            color: $white;
        }
    }

    .grid-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: stretch;
        grid-template-areas: 'content buttons';
        grid-template-rows: minmax(30px, auto);
    }

    .content {
        background: $yellow;
        padding: 2rem;
        max-height: 100%;
        grid-area: content;
        position: relative;

        h1 {
            font-weight: 500 !important;
            color: $red;
        }

        ul {
            padding-left: 1.5rem;
            list-style-position: outside;
        }

        ul li {
            font-weight: 400;
        }

        ul li::marker {
            color: $red !important;
            font-size: 1.5rem;
        }

        .menu-wrapper {
            position: absolute;
            top: 30px;
            right: 15px;
        }

        .menu-icon {
            cursor: pointer;
            font-size: 1.5rem;
        }

        .menu-dropdown {
            position: absolute;
            right: 0;
            top: 35px;
            background: white;
            border: 1px solid #ddd;
            border-radius: 6px;
            display: flex;
            flex-direction: column;
            z-index: 5;
        }

        .menu-dropdown button {
            background: none;
            border: none;
            padding: 8px 12px;
            text-align: left;
            width: 100%;
        }

        .menu-dropdown button:hover {
            background: #f2f2f2;
        }
    }

    .buttons {
        min-height: 100%;
        position: relative;
        background-color: $red;
        grid-area: buttons;

        &::before {
            content: "";
            position: absolute;
            top: 1rem;
            height: 320px;
            left: 0;
            width: 1.5px;
            background: $red;
            z-index: 10;
        }

        .arrow-desktop-container{
            position: absolute;
            height: 350px;
            display: flex;
            width: 100%;
            
        }

        .arrow-btn {
            position: absolute;
            background: transparent;
            border: none;
            font-size: 1.5rem;
            cursor: pointer;
            z-index: 20;

            i {
                color: $yellow;
            }
        }

        .arrow-btn.up {
            top: 0px;
            left: 95.5%;
            transform: translateX(-50%);
        }

        .arrow-btn.down {
            bottom: 0px;
            left: 95.5%;
            transform: translateX(-50%);
        }

        .arrow-btn.left {
            left: 0px;
            top: 90%;
            transform: translateY(-50%);
        }

        .arrow-btn.right {
            right: 0px;
            top: 90%;
            transform: translateY(-50%);
        }
    }

    .session-btn {
        width: 91%;
        max-width: 400px;
        padding: 1rem;
        border: none;
        background-color: $yellow;
        font-size: 1.1rem;
        font-weight: 500;
        cursor: default !important;
        transition: 0.3s;

        &:hover {
            background: $black;
            color: white;
            border: 4px solid $yellow !important;
            border-bottom: 6px solid $yellow !important;
            border-left: 6px solid $yellow !important;
        }
    }

    .session-btn.active {
        background: $red;
        color: $yellow;
        border: 4px solid $yellow !important;
        border-bottom: 6px solid $yellow !important;
        border-left: 6px solid $yellow !important;
    }

    .session-divider {
        position: absolute;
        color: $red;
        border: 2px solid $red;
        margin: 0.25rem 0;
        opacity: 1;
        width: 83%;
        bottom: -5px
    }

    .mySwiper {
        height: 350px;
        position: relative;

        .swiper-slide {
            display: flex;
            align-items: stretch;
        }

        .swiper-pagination {
            position: absolute !important;
            right: 12px !important;
            top: 50%;
            transform: translateY(-50%);
            width: 15px !important;
            height: auto;
            background: none;
            z-index: 999 !important;
        }

        .swiper-pagination-bullet {
            background-color: $yellow;
            opacity: 1;
            width: 12px;
            height: 12px;
            aspect-ratio: 1/1;
        }

        .swiper-pagination-bullet-active {
            background-color: $red;
            border: 2px solid $yellow;
        }

    }
}

@media screen and (max-width: 1023px) {
    .sessions-section {
        .grid-container {
            grid-template-areas:
                'buttons'
                'content';
            grid-template-columns: none;
            gap: 3rem;
        }

        .buttons {
            width: 100%;
            overflow: hidden;

            &::before {
                display: none;
            }

            .mySwiper {
                width: 100% !important;
                height: auto !important;

                .swiper-pagination {
                    position: absolute !important;
                    bottom: 0px !important;
                    top: auto !important;
                    left: 50%;
                    transform: translateX(-50%);
                    display: flex !important;
                    justify-content: center;
                    gap: 8px;
                    width: 50% !important;
                }

                .swiper-slide {
                    width: auto !important;
                    flex-shrink: 0;
                    height: 90px;
                }
            }

            .session-btn {
                width: max-content !important;
                max-width: 250px;
                white-space: nowrap;
                padding: 0.8rem 1.2rem;
                font-size: 1rem;
                height: 55px;

                &:hover {
                    background: none;
                    border: 0 !important;
                }
            }

            .session-btn.active {
                box-shadow: inset 0 0 0 4px $yellow;
                border: none !important;
                background: $red;
                color: white;
            }

            .session-divider {
                display: none;
            }
        }
    }
}