@use "../abstract/reset" as *;
@use "../abstract/variables" as *;

.signup-section {
  width: 100%;
  overflow: hidden;

  .signup-container {
    z-index: 30;
    width: 100%;
    margin-top: 7rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    align-items: center;
    justify-items: center;
    color: $red;

    .signup-heading {
      justify-self: flex-end;
      align-self: flex-start;
      max-width: 450px;

      h1 {
        font-weight: 600;
      }

      p {
        color: $black;
      }
    }

    .signup-form {
      max-width: 450px;
      justify-self: self-start;
      position: relative;
      background-color: $red;
      color: $yellow;
      border-radius: 8px;


      form {
        label {
          font-weight: 500;
        }

        input {
          background-color: $red !important;
          color: white;
          border: 2px solid $yellow;

          &::placeholder {
            font-size: 0.9rem;
            color: rgb(55, 55, 55);
            filter: invert(100);
          }
        }

        input.form-control:focus {
          background-color: $red !important;
          color: white !important;
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus {
          background-color: $red !important;
          -webkit-box-shadow: 0 0 0 1000px $red inset !important;
          box-shadow: 0 0 0 1000px $red inset !important;
          -webkit-text-fill-color: white !important;
          color: white !important;
        }

        input:-internal-autofill-selected {
          background-color: $red !important;
          color: white !important;
        }

        .form-control:focus {
          background-color: $red;
          box-shadow: 0 0 0 .25rem rgb(252, 240, 214, 0.25);
          color: white;
        }

        button {
          background-color: $yellow;
          color: $red;
          font-weight: 500;
          border: none;

          &:hover {
            background-color: $black;
            color: $white;
          }
        }

        .sign-up {
          color: $white;

          .link {
            color: $yellow
          }
        }
      }
    }
  }


}

.toast-container{
  top: 50px !important;
  right: 0px;
  border-radius: 8px;
  z-index: 100;
}

// Toast background 
.custom-toast {
  background-color: $white !important;  
  color: $black !important;                
  border: none;

  .btn-close{
    box-shadow: none;
  }
}

// Progress bar 
.toast-progress-wrapper {
  width: 100%;
  height: 4px;
  overflow: hidden;
  border-radius: 0px 0px 8px 8px;
}

// Progress bar animation
.toast-progress {
  height: 100%;
  width: 100%;
  background-color: $red; 
  animation: shrink 3s linear forwards;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4; 
}

// disappering toast 
@keyframes shrink {
  from { width: 100%; }
  to { width: 0%; }
}


@media only screen and (max-width: 992px) {
  .signup-section {
    .signup-container {
      grid-template-columns: repeat(1, 1fr);
      margin-top: 4rem;
      gap: 2rem;

      .signup-heading {
        justify-self: unset;
        max-width: 450px;
      }

      .signup-form {
        justify-self: unset;
      }
    }

  }
}

@media (max-width: 576px) {
  .signup-section {
    .signup-container {
      margin-top: 2rem;
    }


  }
}