@use "../abstract/reset" as *;
@use "../abstract/variables" as *;

.techniques-section {
    background-color: $yellow;

    .techniques-container {
        .heading-container {
            color: $red;

            h1 {
                font-weight: 600;
            }

            p {
                color: $black;
            }
        }

        .accordion-button {
            background-color: $red;
            color: $yellow;
            font-weight: 500;

            .sport-badge {
                display: inline;
                color: $yellow;
                font-size: 0.7rem;
                padding: 3px 10px !important;
                font-weight: 600;
                border: 2px solid $yellow !important;


            }
        }

        .accordion-button:focus,
        .accordion-button:active {
            box-shadow: none
        }

        .accordion-button::after {
            display: none;
        }

        .custom-arrow {
            color: $yellow;
            transition: transform 0.3s;
        }

        .accordion-button:not(.collapsed) .custom-arrow {
            transform: rotate(180deg);
        }

        .accordion-body {
            background-color: $yellow;
            border: 5px solid $red;
        }

        .accordion-body ol {
            list-style: none;
            counter-reset: item;
            padding-left: 0;
        }

        .accordion-body ol li {
            counter-increment: item;
            position: relative;
            padding-left: 2.5rem;
            margin-bottom: 0.5rem;
            font-weight: 500;
            font-size: 1.2rem;
        }

        .accordion-body ol li::before {
            content: counter(item);
            position: absolute;
            left: 0;
            top: 0;
            width: 1.8rem;
            height: 1.8rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            background-color: $red;
            color: $yellow;
        }

        .accordion-body {
            position: relative;
            padding-right: 2.2rem;
        }

        .menu-wrapper {
            position: absolute;
            top: 15px;
            right: 15px;
        }

        .menu-icon {
            cursor: pointer;
            font-size: 1.2rem;
        }

        .menu-dropdown {
            position: absolute;
            right: 0;
            top: 25px;
            background: white;
            border: 1px solid #ddd;
            border-radius: 6px;
            display: flex;
            flex-direction: column;
            z-index: 5;
        }

        .menu-dropdown button {
            background: none;
            border: none;
            padding: 8px 12px;
            text-align: left;
            width: 100%;
        }

        .menu-dropdown button:hover {
            background: #f2f2f2;
        }
    }

    .explore {
        display: flex;
        justify-content: center;

        a,
        button {
            all: unset;
            display: inline-block;
            cursor: pointer;
            border-radius: 8px;
        }

        a {
            background-color: black;
            color: white;
        }

        button {
            background-color: $red;
            padding: 0.75rem 1.5rem;
            font-weight: 600;
            color: $yellow;
            border: none;
        }


        button:hover {
            background-color: black;
            color: white;
        }


        a:focus,
        a:active,
        button:focus,
        button:active {
            outline: none !important;
            box-shadow: none !important;
            border: none !important;
        }
    }


}