@use "../abstract/reset" as *;
@use "../abstract/variables" as *;

.techniques-section {
    min-height: 500px;

    .heading-container {
        color: $red;
        display: flex;
        justify-content: space-between;
        gap: 3rem;

        .button {
            display: flex;
            align-items: end;

            button {
                width: 190px;
                background-color: $red;
                color: $yellow;
                font-weight: 600;

                &:hover {
                    background-color: black;
                    color: white;
                }

                &:focus,
                &:active {
                    outline: $black !important;
                    box-shadow: $black !important;
                    border-color: $black;
                }
            }

        }

        h1 {
            font-weight: 600;
        }

        p {
            color: $black;
        }
    }

    .accordion-button {
        background-color: $red;
        color: $yellow;
        font-weight: 500;

        .sport-badge {
            display: inline;
            color: $yellow;
            font-size: 0.7rem;
            padding: 3px 10px !important;
            font-weight: 600;
            border: 2px solid $yellow !important;


        }
    }

    .accordion-button:focus,
    .accordion-button:active {
        box-shadow: none
    }

    .accordion-button::after {
        display: none;
    }

    .custom-arrow {
        color: $yellow;
        transition: transform 0.3s;
    }

    .accordion-button:not(.collapsed) .custom-arrow {
        transform: rotate(180deg);
    }

    .accordion-body {
        background-color: $yellow;
        border: 5px solid $red;
    }

    .body-head {
        font-weight: 600;
        color: $red;
    }

    .accordion-body ol {
        list-style: none;
        counter-reset: item;
        padding-left: 0;
    }

    .accordion-body ol li {
        counter-increment: item;
        position: relative;
        padding-left: 2.5rem;
        margin-bottom: 0.5rem;
        font-weight: 500;
        font-size: 1.2rem;
    }

    .accordion-body ol li::before {
        content: counter(item);
        position: absolute;
        left: 0;
        top: 0;
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        background-color: $red;
        color: $yellow;
    }

    .accordion-body {
        position: relative;
        padding-right: 2.2rem;
    }

    .menu-wrapper {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .menu-icon {
        cursor: pointer;
        font-size: 1.2rem;
    }

    .menu-dropdown {
        position: absolute;
        top: 30px;
        right: 0;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
        overflow: hidden;
        width: 110px;

        button {
            width: 100%;
            padding: 8px 12px;
            border: none;
            background: white;
            color: $black;
            font-size: 0.9rem;
            text-align: left;

            &:hover {
                background: #f5f5f5;
            }
        }
    }

    .modal {

        .modal-dialog-scrollable,
        .modal-dialog {
            display: flex;
            align-items: center;

            .modal-content {
                border-radius: 8px;
                background-color: $yellow;
                border: 2px solid $red;
                position: relative;

                .modal-body {
                    .heading {
                        h1 {
                            color: $red;
                            font-weight: 600;
                            text-align: center;
                        }

                        button {
                            position: absolute;
                            right: 15px;
                            top: 20px;
                            box-shadow: none;
                        }
                    }

                    .form {
                        form {
                            label {
                                font-weight: 500;
                                color: $red;

                                span {
                                    font-weight: 400;
                                    color: black;
                                    font-size: 0.9rem;
                                }
                            }

                            input,
                            select {
                                background-color: unset;
                                color: black;
                                border: 2px solid $red;


                                &::placeholder {
                                    font-size: 0.9rem;
                                    color: rgb(55, 55, 55);
                                }
                            }


                            select.form-select option {
                                background-color: $red;
                                color: white;
                            }

                            select.form-select option[value=""] {
                                background-color: #b3b5b7;
                            }

                            .step {
                                span {
                                    width: 15px;

                                }

                                button {
                                    align-self: stretch;
                                }
                            }

                            input.form-control:focus {
                                background-color: $yellow !important;
                                color: black !important;
                            }

                            input:-webkit-autofill,
                            input:-webkit-autofill:hover,
                            input:-webkit-autofill:focus {
                                background-color: $yellow !important;
                                -webkit-box-shadow: 0 0 0 1000px $yellow inset !important;
                                box-shadow: 0 0 0 1000px $yellow inset !important;
                                -webkit-text-fill-color: black !important;
                                color: black !important;
                            }

                            input:-internal-autofill-selected {
                                background-color: $yellow !important;
                                color: black !important;
                            }

                            .form-control:focus {
                                background-color: $yellow;
                                box-shadow: 0 0 0 .25rem rgb(113, 0, 4, 0.25);
                                color: black;
                            }

                            button {
                                background-color: $red;
                                color: $yellow;
                                font-weight: 500;
                                border: none;

                                &:hover {
                                    background-color: $black;
                                    color: $white;
                                }
                            }

                        }
                    }
                }

                h5 {
                    color: $red;
                }

                .cancel {
                    border: 2px solid $red ;

                    &:hover {
                        background-color: black;
                        color: white;
                    }
                }

                .delete {
                    background-color: $red;
                    color: $yellow;

                    &:hover {
                        background-color: black;
                        color: white;
                    }
                }

                .btn-close {
                    box-shadow: none;
                }
            }
        }


    }

}

@media screen and (max-width: 992px) {
    .techniques-section {
        .heading-container {
            flex-direction: column;
            gap: 1.5rem;
        }
    }
}